n8n-workflows/Admin — Crea Appuntamento.json
{
  "name": "Admin — Crea Appuntamento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-create-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "38b0e260-9a07-44ea-bbb6-ca520c785894",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        2768
      ],
      "webhookId": "admin-create-appointment"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.item.json.body || $input.item.json;\nconst appointment_id   = b.appointment_id   || null;\nconst client_id        = b.client_id        || null;\nconst client_email     = b.client_email     || '';\nconst client_name      = b.client_name      || 'Cliente';\nconst client_phone     = b.client_phone     || '';\nconst appointment_type = b.appointment_type || 'consulenza';\nconst scheduled_at     = b.scheduled_at     || null;\nconst notes            = b.notes            || '';\nconst location         = b.location         || 'integrations:whatsapp_video';\nif (!scheduled_at) throw new Error('scheduled_at mancante');\nconst eventTypeMap = { 'consulenza': 5147645, 'pre-seduta': 5147653, 'seduta': 5147823 };\nconst eventTypeId  = eventTypeMap[appointment_type] || 5147645;\nconst startDate    = new Date(scheduled_at);\nconst endIso       = new Date(startDate.getTime() + 60 * 60 * 1000).toISOString();\nconst typeLabel    = { 'consulenza':'Consulenza','pre-seduta':'Pre-Seduta','seduta':'Seduta' }[appointment_type] || appointment_type;\nconst dateFormatted = startDate.toLocaleDateString('it-IT', { weekday:'long', day:'2-digit', month:'long', year:'numeric' });\nconst timeFormatted = startDate.toLocaleTimeString('it-IT', { hour:'2-digit', minute:'2-digit', timeZone:'Europe/Rome' });\nconst attendee = { name: client_name, email: client_email, timeZone: 'Europe/Rome', language: 'it' };\nif (client_phone) attendee.phoneNumber = client_phone;\nconst calBody = { eventTypeId, start: scheduled_at, attendee, metadata: {} };\nif (notes) calBody.bookingFieldsResponses = { notes };\nconst calBodyString = JSON.stringify(calBody);\nreturn [{ json: { appointment_id, client_id, client_email, client_name, client_phone, appointment_type, typeLabel, scheduled_at, endIso, notes, eventTypeId, dateFormatted, timeFormatted, calBodyString } }];"
      },
      "id": "2163c859-e161-433f-9c1e-8cdd92ffd37c",
      "name": "Estrai Dati",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        2768
      ]
    },
    {
      "parameters": {
        "url": "=https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/appointments?client_id=eq.{{ $json.client_id }}&type=eq.seduta&status=neq.cancelled&select=id,scheduled_at&order=scheduled_at.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "3ff85ab0-9a33-4520-b4dc-1d6aca10914e",
      "name": "Conta Sedute",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        2768
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Estrai Dati').item.json;\nlet sessionOrdinal = '1ª';\nif (prev.appointment_type === 'seduta') {\n  try {\n    const raw = $input.item.json;\n    const list = Array.isArray(raw) ? raw : [];\n    if (list.length > 0) {\n      const sorted = [...list].sort((a,b) => new Date(a.scheduled_at)-new Date(b.scheduled_at));\n      const idx = sorted.findIndex(a => a.id === prev.appointment_id);\n      const n = idx >= 0 ? idx + 1 : list.length;\n      const ord = ['1ª','2ª','3ª','4ª','5ª','6ª','7ª','8ª','9ª','10ª'];\n      sessionOrdinal = ord[n-1] || `${n}ª`;\n    }\n  } catch(e) { sessionOrdinal = '1ª'; }\n}\nreturn [{ json: { ...prev, sessionOrdinal } }];"
      },
      "id": "65bbc819-7f20-4b5e-936b-a094937d4638",
      "name": "Calcola Ordinal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        2768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.client_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d648f9c-f350-4b4c-8505-6c44fa619e76",
      "name": "Ha Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        784,
        2768
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cal.com/v2/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cal_live_c63016ee51343f3492c2759c4a0d5c93"
            },
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Calcola Ordinal').item.json.calBodyString }}",
        "options": {}
      },
      "id": "dccb1f08-7111-4c38-82fe-948ffc42113e",
      "name": "Cal.com Crea Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        2656
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const cal = $input.item.json;\nconst uid = cal?.data?.uid || cal?.uid || null;\nreturn [{ json: { ...($('Calcola Ordinal').item.json), cal_booking_uid: uid } }];"
      },
      "id": "08344754-db72-499d-8ace-78cb59ea5285",
      "name": "Estrai UID Cal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        2656
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/appointments?id=eq.{{ $json.appointment_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"cal_booking_uid\": \"{{ $json.cal_booking_uid }}\" }",
        "options": {}
      },
      "id": "ec886dd8-1198-4440-938b-4209363f3702",
      "name": "Salva UID su Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        2656
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-consulenza",
              "leftValue": "={{ $('Estrai UID Cal').item.json.appointment_type }}",
              "rightValue": "consulenza",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dccd462a-8a17-4072-9248-84cf78889634",
      "name": "È Consulenza?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1664,
        2656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-preseduta",
              "leftValue": "={{ $('Estrai UID Cal').item.json.appointment_type }}",
              "rightValue": "pre-seduta",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9d0a985c-327b-4ecb-a98d-a590fa615271",
      "name": "È Pre-Seduta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1888,
        2800
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Calcola Ordinal').item.json.client_email }}",
        "subject": "=✅ Consulenza confermata — Irene Gipsy tattoo",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    body { margin:0; padding:0; background-color:#0a0a0a; font-family:'Montserrat',sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n    .email-wrapper { background-color:#0a0a0a; padding:30px 10px; }\n    .container { max-width:600px; width:100%; margin:0 auto; background-color:#121212; overflow:hidden; }\n    .header { background-color:#000000; padding:40px 30px 32px; text-align:center; border-bottom:1px solid #222; }\n    .header-divider { width:60px; height:2px; background-color:#D4AF37; margin:0 auto 20px; }\n    .content { background-color:#121212; padding:36px 30px; }\n    .footer { background-color:#000000; text-align:center; padding:30px 20px; border-top:1px solid #222; }\n\n    @media only screen and (max-width:600px) {\n      .email-wrapper { padding:10px 5px !important; }\n      .header { padding:28px 16px 24px !important; }\n      .content { padding:24px 16px !important; }\n      .footer { padding:24px 16px !important; }\n      .header-script { font-size:1.3rem !important; }\n      .header-h1 { font-size:1.4rem !important; }\n      .appt-box { padding:16px !important; }\n      .info-box { padding:16px !important; }\n      .note { padding:16px !important; }\n      .btn-mobile { display:block !important; width:85% !important; max-width:300px !important; margin:0 auto !important; box-sizing:border-box !important; padding:14px 20px !important; }\n    }\n    @media only screen and (max-width:400px) {\n      .header-h1 { font-size:1.2rem !important; }\n      .btn-mobile { width:92% !important; font-size:0.85rem !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a0a;\">\n  <div class=\"email-wrapper\" style=\"background-color:#0a0a0a;padding:30px 10px;\">\n    <div class=\"container\" style=\"max-width:600px;width:100%;margin:0 auto;background-color:#121212;overflow:hidden;\">\n\n      <!-- HEADER -->\n      <div class=\"header\" style=\"background-color:#000000;padding:40px 30px 32px;text-align:center;border-bottom:1px solid #222;\">\n        <span class=\"header-script\" style=\"font-family:'Playfair Display',serif;font-size:1.6rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:6px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;color:#F5F5DC;letter-spacing:3px;text-transform:uppercase;display:block;margin-bottom:20px;\">Realistic Tattoo Artist</span>\n        <div class=\"header-divider\" style=\"width:60px;height:2px;background-color:#D4AF37;margin:0 auto 20px;\"></div>\n        <h1 class=\"header-h1\" style=\"font-family:'Playfair Display',serif;font-size:1.8rem;font-weight:400;color:#D4AF37;margin:0;letter-spacing:0.5px;\">✅ Consulenza Confermata</h1>\n      </div>\n\n      <!-- CONTENT -->\n      <div class=\"content\" style=\"background-color:#121212;padding:36px 30px;\">\n\n        <p style=\"font-family:'Playfair Display',serif;font-size:1.4rem;font-weight:400;color:#D4AF37;margin-bottom:14px;font-style:italic;\">Ciao {{ $('Calcola Ordinal').item.json.client_name }},</p>\n\n        <p style=\"font-size:0.95rem;margin-bottom:28px;color:#F5F5DC;font-weight:300;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n          Il tuo <strong style=\"color:#D4AF37;font-weight:600;\">primo incontro con Irene</strong> è confermato! Parlerete insieme del tuo progetto e di tutto ciò che hai in mente.\n        </p>\n\n        <!-- APPUNTAMENTO BOX -->\n        <div class=\"appt-box\" style=\"background-color:#1a160a;border:1px solid #D4AF37;padding:28px 24px;margin:0 0 24px;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 16px;padding-bottom:10px;border-bottom:1px solid #3a2e10;\">📋 Il Tuo Appuntamento</p>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">📅</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Data:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">{{ $('Calcola Ordinal').item.json.dateFormatted }}</span>\n            </div>\n          </div>\n\n          <div style=\"height:1px;background-color:#3a2e10;margin:12px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">🕐</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Orario:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">ore {{ $('Calcola Ordinal').item.json.timeFormatted }}</span>\n            </div>\n          </div>\n        </div>\n\n        <!-- COSA PORTARE BOX -->\n        <div class=\"info-box\" style=\"background-color:#0d0d0d;padding:24px 20px;margin:0 0 28px;border-left:2px solid #D4AF37;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 16px;padding-bottom:10px;border-bottom:1px solid #2a2a2a;\">🎒 Cosa Portare</p>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"color:#D4AF37;margin-right:10px;font-size:0.9rem;\">›</span>\n            <span style=\"font-family:'Montserrat',sans-serif;color:#F5F5DC;font-size:0.9rem;font-weight:300;\">Idee, immagini o riferimenti che ti ispirano</span>\n          </div>\n\n          <div style=\"height:1px;background-color:#2a2a2a;margin:8px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"color:#D4AF37;margin-right:10px;font-size:0.9rem;\">›</span>\n            <span style=\"font-family:'Montserrat',sans-serif;color:#F5F5DC;font-size:0.9rem;font-weight:300;\">La zona del corpo in cui vorresti il tatuaggio</span>\n          </div>\n\n          <div style=\"height:1px;background-color:#2a2a2a;margin:8px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"color:#D4AF37;margin-right:10px;font-size:0.9rem;\">›</span>\n            <span style=\"font-family:'Montserrat',sans-serif;color:#F5F5DC;font-size:0.9rem;font-weight:300;\">Tutte le domande che hai — nessuna è banale</span>\n          </div>\n        </div>\n\n        <!-- CTA -->\n        <div style=\"text-align:center;margin:0 0 28px;\">\n          <p style=\"font-size:0.8rem;color:#888888;text-transform:uppercase;letter-spacing:1px;margin-bottom:18px;font-family:'Montserrat',sans-serif;\">Visualizza nella tua area personale</p>\n          <a href=\"https://irenegipsytattoo.it/dashboard.html\" class=\"btn-mobile\" style=\"display:inline-block;padding:12px 30px;border:1px solid #D4AF37;text-transform:uppercase;font-family:'Montserrat',sans-serif;font-size:0.9rem;letter-spacing:1px;background-color:#D4AF37;color:#000000;font-weight:600;text-decoration:none;border-radius:0;\">\n            Vai alla Tua Area Personale\n          </a>\n        </div>\n\n        <!-- NOTE -->\n        <div class=\"note\" style=\"background-color:#1a1a1a;padding:20px;border:1px solid #333333;\">\n          <p style=\"font-size:0.85rem;color:#888888;font-style:italic;margin:0;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n            💬 Per qualsiasi necessità non esitare a contattarci. A presto!<br>\n            <strong style=\"color:#F5F5DC;font-weight:600;\"></strong>\n          </p>\n        </div>\n\n      </div>\n\n      <!-- FOOTER -->\n      <div class=\"footer\" style=\"background-color:#000000;text-align:center;padding:30px 20px;border-top:1px solid #222222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.1rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:4px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:3px;color:#F5F5DC;display:block;margin-bottom:16px;\">Realistic Tattoo Artist</span>\n        <p style=\"margin:0 0 10px;\">\n          <a href=\"mailto:irenegipsytattoo@gmail.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Email</a> |\n          <a href=\"https://www.instagram.com/irenegipsytattoo/\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Instagram</a> |\n          <a href=\"https://wa.me/393471648654\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Whatsapp</a>\n        </p>\n        <p style=\"margin:0 0 16px;\">\n          <a href=\"https://www.irenegipsytattoo.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">www.irenegipsytattoo.com</a>\n        </p>\n        <p style=\"margin:0;font-size:0.7rem;color:#333333;letter-spacing:0.5px;font-family:'Montserrat',sans-serif;\">© 2026 Tutti i diritti riservati</p>\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "9e9d7682-a6d7-4daa-abd0-0e94dfe83915",
      "name": "Gmail Consulenza",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1888,
        2528
      ],
      "webhookId": "81b479f1-10e2-4bea-9979-27686360751d",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZmFlwpy10UFOwY00",
          "name": "Gmail - Irene"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Calcola Ordinal').item.json.client_email }}",
        "subject": "=✅ Pre-Seduta confermata — Irene Gipsy Tattoo",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    body { margin:0; padding:0; background-color:#0a0a0a; font-family:'Montserrat',sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n    .email-wrapper { background-color:#0a0a0a; padding:30px 10px; }\n    .container { max-width:600px; width:100%; margin:0 auto; background-color:#121212; overflow:hidden; }\n    .header { background-color:#000000; padding:40px 30px 32px; text-align:center; border-bottom:1px solid #222; }\n    .header-divider { width:60px; height:2px; background-color:#D4AF37; margin:0 auto 20px; }\n    .content { background-color:#121212; padding:36px 30px; }\n    .footer { background-color:#000000; text-align:center; padding:30px 20px; border-top:1px solid #222; }\n\n    @media only screen and (max-width:600px) {\n      .email-wrapper { padding:10px 5px !important; }\n      .header { padding:28px 16px 24px !important; }\n      .content { padding:24px 16px !important; }\n      .footer { padding:24px 16px !important; }\n      .header-script { font-size:1.3rem !important; }\n      .header-h1 { font-size:1.4rem !important; }\n      .appt-box { padding:16px !important; }\n      .info-box { padding:16px !important; }\n      .note { padding:16px !important; }\n      .btn-mobile { display:block !important; width:85% !important; max-width:300px !important; margin:0 auto !important; box-sizing:border-box !important; padding:14px 20px !important; }\n    }\n    @media only screen and (max-width:400px) {\n      .header-h1 { font-size:1.2rem !important; }\n      .btn-mobile { width:92% !important; font-size:0.85rem !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a0a;\">\n  <div class=\"email-wrapper\" style=\"background-color:#0a0a0a;padding:30px 10px;\">\n    <div class=\"container\" style=\"max-width:600px;width:100%;margin:0 auto;background-color:#121212;overflow:hidden;\">\n\n      <!-- HEADER -->\n      <div class=\"header\" style=\"background-color:#000000;padding:40px 30px 32px;text-align:center;border-bottom:1px solid #222;\">\n        <span class=\"header-script\" style=\"font-family:'Playfair Display',serif;font-size:1.6rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:6px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;color:#F5F5DC;letter-spacing:3px;text-transform:uppercase;display:block;margin-bottom:20px;\">Realistic Tattoo Artist</span>\n        <div class=\"header-divider\" style=\"width:60px;height:2px;background-color:#D4AF37;margin:0 auto 20px;\"></div>\n        <h1 class=\"header-h1\" style=\"font-family:'Playfair Display',serif;font-size:1.8rem;font-weight:400;color:#D4AF37;margin:0;letter-spacing:0.5px;\">✅ Pre-Seduta Confermata</h1>\n      </div>\n\n      <!-- CONTENT -->\n      <div class=\"content\" style=\"background-color:#121212;padding:36px 30px;\">\n\n        <p style=\"font-family:'Playfair Display',serif;font-size:1.4rem;font-weight:400;color:#D4AF37;margin-bottom:14px;font-style:italic;\">Ciao {{ $('Calcola Ordinal').item.json.client_name }},</p>\n\n        <p style=\"font-size:0.95rem;margin-bottom:28px;color:#F5F5DC;font-weight:300;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n          La tua <strong style=\"color:#D4AF37;font-weight:600;\">pre-seduta con Irene</strong> è confermata! È il momento per definire tutti gli ultimi dettagli prima del grande giorno.\n        </p>\n\n        <!-- APPUNTAMENTO BOX -->\n        <div class=\"appt-box\" style=\"background-color:#1a160a;border:1px solid #D4AF37;padding:28px 24px;margin:0 0 24px;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 16px;padding-bottom:10px;border-bottom:1px solid #3a2e10;\">📋 Il Tuo Appuntamento</p>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">📅</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Data:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">{{ $('Calcola Ordinal').item.json.dateFormatted }}</span>\n            </div>\n          </div>\n\n          <div style=\"height:1px;background-color:#3a2e10;margin:12px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">🕐</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Orario:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">ore {{ $('Calcola Ordinal').item.json.timeFormatted }}</span>\n            </div>\n          </div>\n        </div>\n\n        <!-- COSA ASPETTARSI BOX -->\n        <div class=\"info-box\" style=\"background-color:#0d0d0d;padding:24px 20px;margin:0 0 28px;border-left:2px solid #D4AF37;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 16px;padding-bottom:10px;border-bottom:1px solid #2a2a2a;\">🎯 Cosa Aspettarsi</p>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"color:#D4AF37;margin-right:10px;font-size:0.9rem;\">›</span>\n            <span style=\"font-family:'Montserrat',sans-serif;color:#F5F5DC;font-size:0.9rem;font-weight:300;\">Rivedrete insieme il disegno definitivo e le dimensioni</span>\n          </div>\n\n          <div style=\"height:1px;background-color:#2a2a2a;margin:8px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"color:#D4AF37;margin-right:10px;font-size:0.9rem;\">›</span>\n            <span style=\"font-family:'Montserrat',sans-serif;color:#F5F5DC;font-size:0.9rem;font-weight:300;\">Confermerete la posizione esatta sulla zona scelta</span>\n          </div>\n\n          <div style=\"height:1px;background-color:#2a2a2a;margin:8px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"color:#D4AF37;margin-right:10px;font-size:0.9rem;\">›</span>\n            <span style=\"font-family:'Montserrat',sans-serif;color:#F5F5DC;font-size:0.9rem;font-weight:300;\">Porta eventuali ultime modifiche o richieste</span>\n          </div>\n        </div>\n\n        <!-- CTA -->\n        <div style=\"text-align:center;margin:0 0 28px;\">\n          <p style=\"font-size:0.8rem;color:#888888;text-transform:uppercase;letter-spacing:1px;margin-bottom:18px;font-family:'Montserrat',sans-serif;\">Visualizza nella tua area personale</p>\n          <a href=\"https://irenegipsytattoo.it/dashboard.html\" class=\"btn-mobile\" style=\"display:inline-block;padding:12px 30px;border:1px solid #D4AF37;text-transform:uppercase;font-family:'Montserrat',sans-serif;font-size:0.9rem;letter-spacing:1px;background-color:#D4AF37;color:#000000;font-weight:600;text-decoration:none;border-radius:0;\">\n            Vai alla Tua Area Personale\n          </a>\n        </div>\n\n        <!-- NOTE -->\n        <div class=\"note\" style=\"background-color:#1a1a1a;padding:20px;border:1px solid #333333;\">\n          <p style=\"font-size:0.85rem;color:#888888;font-style:italic;margin:0;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n            💬 Per qualsiasi necessità non esitare a contattarci. A presto!<br>\n            <strong style=\"color:#F5F5DC;font-weight:600;\"></strong>\n          </p>\n        </div>\n\n      </div>\n\n      <!-- FOOTER -->\n      <div class=\"footer\" style=\"background-color:#000000;text-align:center;padding:30px 20px;border-top:1px solid #222222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.1rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:4px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:3px;color:#F5F5DC;display:block;margin-bottom:16px;\">Realistic Tattoo Artist</span>\n        <p style=\"margin:0 0 10px;\">\n          <a href=\"mailto:irenegipsytattoo@gmail.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Email</a> |\n          <a href=\"https://www.instagram.com/irenegipsytattoo/\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Instagram</a> |\n          <a href=\"https://wa.me/393471648654\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Whatsapp</a>\n        </p>\n        <p style=\"margin:0 0 16px;\">\n          <a href=\"https://www.irenegipsytattoo.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">www.irenegipsytattoo.com</a>\n        </p>\n        <p style=\"margin:0;font-size:0.7rem;color:#333333;letter-spacing:0.5px;font-family:'Montserrat',sans-serif;\">© 2026 Tutti i diritti riservati</p>\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ffc2d565-0788-4461-b22b-484ce7205cf2",
      "name": "Gmail Pre-Seduta",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2112,
        2688
      ],
      "webhookId": "50caeb32-1e16-4c0f-b8c0-51bbc622191e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZmFlwpy10UFOwY00",
          "name": "Gmail - Irene"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Calcola Ordinal').item.json.client_email }}",
        "subject": "=✅ Seduta confermata — Irene Gipsy Tattoo",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    body { margin:0; padding:0; background-color:#0a0a0a; font-family:'Montserrat',sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n    .email-wrapper { background-color:#0a0a0a; padding:30px 10px; }\n    .container { max-width:600px; width:100%; margin:0 auto; background-color:#121212; overflow:hidden; }\n    .header { background-color:#000000; padding:40px 30px 32px; text-align:center; border-bottom:1px solid #222; }\n    .header-divider { width:60px; height:2px; background-color:#D4AF37; margin:0 auto 20px; }\n    .content { background-color:#121212; padding:36px 30px; }\n    .footer { background-color:#000000; text-align:center; padding:30px 20px; border-top:1px solid #222; }\n\n    @media only screen and (max-width:600px) {\n      .email-wrapper { padding:10px 5px !important; }\n      .header { padding:28px 16px 24px !important; }\n      .content { padding:24px 16px !important; }\n      .footer { padding:24px 16px !important; }\n      .header-script { font-size:1.3rem !important; }\n      .header-h1 { font-size:1.4rem !important; }\n      .appt-box { padding:16px !important; }\n      .info-box { padding:16px !important; }\n      .note { padding:16px !important; }\n      .btn-mobile { display:block !important; width:85% !important; max-width:300px !important; margin:0 auto !important; box-sizing:border-box !important; padding:14px 20px !important; }\n    }\n    @media only screen and (max-width:400px) {\n      .header-h1 { font-size:1.2rem !important; }\n      .btn-mobile { width:92% !important; font-size:0.85rem !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a0a;\">\n  <div class=\"email-wrapper\" style=\"background-color:#0a0a0a;padding:30px 10px;\">\n    <div class=\"container\" style=\"max-width:600px;width:100%;margin:0 auto;background-color:#121212;overflow:hidden;\">\n\n      <!-- HEADER -->\n      <div class=\"header\" style=\"background-color:#000000;padding:40px 30px 32px;text-align:center;border-bottom:1px solid #222;\">\n        <span class=\"header-script\" style=\"font-family:'Playfair Display',serif;font-size:1.6rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:6px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;color:#F5F5DC;letter-spacing:3px;text-transform:uppercase;display:block;margin-bottom:20px;\">Realistic Tattoo Artist</span>\n        <div class=\"header-divider\" style=\"width:60px;height:2px;background-color:#D4AF37;margin:0 auto 20px;\"></div>\n        <h1 class=\"header-h1\" style=\"font-family:'Playfair Display',serif;font-size:1.8rem;font-weight:400;color:#D4AF37;margin:0;letter-spacing:0.5px;\">✅ {{ $('Calcola Ordinal').item.json.sessionOrdinal }} Seduta Confermata</h1>\n      </div>\n\n      <!-- CONTENT -->\n      <div class=\"content\" style=\"background-color:#121212;padding:36px 30px;\">\n\n        <p style=\"font-family:'Playfair Display',serif;font-size:1.4rem;font-weight:400;color:#D4AF37;margin-bottom:14px;font-style:italic;\">Ciao {{ $('Calcola Ordinal').item.json.client_name }},</p>\n\n        <p style=\"font-size:0.95rem;margin-bottom:28px;color:#F5F5DC;font-weight:300;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n          La tua <strong style=\"color:#D4AF37;font-weight:600;\">{{ $('Calcola Ordinal').item.json.sessionOrdinal }} seduta con Irene</strong> è confermata! Ecco come prepararti al meglio.\n        </p>\n\n        <!-- APPUNTAMENTO BOX -->\n        <div class=\"appt-box\" style=\"background-color:#1a160a;border:1px solid #D4AF37;padding:28px 24px;margin:0 0 24px;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 16px;padding-bottom:10px;border-bottom:1px solid #3a2e10;\">📋 Il Tuo Appuntamento</p>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">📅</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Data:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">{{ $('Calcola Ordinal').item.json.dateFormatted }}</span>\n            </div>\n          </div>\n\n          <div style=\"height:1px;background-color:#3a2e10;margin:12px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">🕐</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Orario:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">ore {{ $('Calcola Ordinal').item.json.timeFormatted }}</span>\n            </div>\n          </div>\n        </div>\n\n        <!-- COME PREPARARSI BOX -->\n        <div class=\"info-box\" style=\"background-color:#0d0d0d;padding:24px 20px;margin:0 0 28px;border-left:2px solid #D4AF37;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 16px;padding-bottom:10px;border-bottom:1px solid #2a2a2a;\">💪 Come Prepararti</p>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"color:#D4AF37;margin-right:10px;font-size:0.9rem;\">›</span>\n            <span style=\"font-family:'Montserrat',sans-serif;color:#F5F5DC;font-size:0.9rem;font-weight:300;\">Mangia bene prima della seduta — ti aiuterà a reggere</span>\n          </div>\n\n          <div style=\"height:1px;background-color:#2a2a2a;margin:8px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"color:#D4AF37;margin-right:10px;font-size:0.9rem;\">›</span>\n            <span style=\"font-family:'Montserrat',sans-serif;color:#F5F5DC;font-size:0.9rem;font-weight:300;\">Idratati nelle ore precedenti</span>\n          </div>\n\n          <div style=\"height:1px;background-color:#2a2a2a;margin:8px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"color:#D4AF37;margin-right:10px;font-size:0.9rem;\">›</span>\n            <span style=\"font-family:'Montserrat',sans-serif;color:#F5F5DC;font-size:0.9rem;font-weight:300;\">Indossa abiti comodi con facile accesso alla zona</span>\n          </div>\n\n          <div style=\"height:1px;background-color:#2a2a2a;margin:8px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"color:#D4AF37;margin-right:10px;font-size:0.9rem;\">›</span>\n            <span style=\"font-family:'Montserrat',sans-serif;color:#F5F5DC;font-size:0.9rem;font-weight:300;\">Evita alcol nelle 24 ore precedenti</span>\n          </div>\n        </div>\n\n        <!-- CTA -->\n        <div style=\"text-align:center;margin:0 0 28px;\">\n          <p style=\"font-size:0.8rem;color:#888888;text-transform:uppercase;letter-spacing:1px;margin-bottom:18px;font-family:'Montserrat',sans-serif;\">Visualizza nella tua area personale</p>\n          <a href=\"https://irenegipsytattoo.it/dashboard.html\" class=\"btn-mobile\" style=\"display:inline-block;padding:12px 30px;border:1px solid #D4AF37;text-transform:uppercase;font-family:'Montserrat',sans-serif;font-size:0.9rem;letter-spacing:1px;background-color:#D4AF37;color:#000000;font-weight:600;text-decoration:none;border-radius:0;\">\n            Vai alla Tua Area Personale\n          </a>\n        </div>\n\n        <!-- NOTE -->\n        <div class=\"note\" style=\"background-color:#1a1a1a;padding:20px;border:1px solid #333333;\">\n          <p style=\"font-size:0.85rem;color:#888888;font-style:italic;margin:0;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n            💬 Per qualsiasi necessità non esitare a contattarci. A presto!<br>\n            <strong style=\"color:#F5F5DC;font-weight:600;\"></strong>\n          </p>\n        </div>\n\n      </div>\n\n      <!-- FOOTER -->\n      <div class=\"footer\" style=\"background-color:#000000;text-align:center;padding:30px 20px;border-top:1px solid #222222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.1rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:4px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:3px;color:#F5F5DC;display:block;margin-bottom:16px;\">Realistic Tattoo Artist</span>\n        <p style=\"margin:0 0 10px;\">\n          <a href=\"mailto:irenegipsytattoo@gmail.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Email</a> |\n          <a href=\"https://www.instagram.com/irenegipsytattoo/\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Instagram</a> |\n          <a href=\"https://wa.me/393471648654\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Whatsapp</a>\n        </p>\n        <p style=\"margin:0 0 16px;\">\n          <a href=\"https://www.irenegipsytattoo.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">www.irenegipsytattoo.com</a>\n        </p>\n        <p style=\"margin:0;font-size:0.7rem;color:#333333;letter-spacing:0.5px;font-family:'Montserrat',sans-serif;\">© 2026 Tutti i diritti riservati</p>\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "7ebf49eb-83d8-4e22-b5e9-b4a0d5f6fc5b",
      "name": "Gmail Seduta",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2112,
        2896
      ],
      "webhookId": "bba99702-957a-4bc5-b398-0a0f8d65a067",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZmFlwpy10UFOwY00",
          "name": "Gmail - Irene"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "ee7f57e3-08b2-4dac-b01e-2f7bc45c9705",
      "name": "Risposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2448,
        2784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apis.chakrahq.com/v1/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_CHAKRAHQ_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $('Calcola Ordinal').item.json.client_phone, type: 'text', text: { body: 'Ciao ' + $('Calcola Ordinal').item.json.client_name + '! \\ud83d\\udcc5 Irene ha fissato la tua consulenza per il ' + $('Calcola Ordinal').item.json.dateFormatted + ' alle ' + $('Calcola Ordinal').item.json.timeFormatted + '. Dettagli nella tua area personale: https://www.irenegipsytattoo.com/dashboard.html\\n\\n\\u2014 Irene Gipsy Tattoo' } }) }}",
        "options": {}
      },
      "name": "WhatsApp Consulenza (ChakraHQ)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        2768
      ],
      "id": "a1b2c3d4-2222-4aaa-bbbb-000000000001",
      "disabled": true,
      "notes": "⚠️ DA CONFIGURARE: Sostituisci YOUR_CHAKRAHQ_API_KEY con la tua API key ChakraHQ. Abilita il nodo quando pronto."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apis.chakrahq.com/v1/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_CHAKRAHQ_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $('Calcola Ordinal').item.json.client_phone, type: 'text', text: { body: 'Ciao ' + $('Calcola Ordinal').item.json.client_name + '! \\ud83d\\udcc5 La tua pre-seduta \\u00e8 fissata per il ' + $('Calcola Ordinal').item.json.dateFormatted + ' alle ' + $('Calcola Ordinal').item.json.timeFormatted + '. Dettagli: https://www.irenegipsytattoo.com/dashboard.html\\n\\n\\u2014 Irene Gipsy Tattoo' } }) }}",
        "options": {}
      },
      "name": "WhatsApp Pre-Seduta (ChakraHQ)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        2928
      ],
      "id": "a1b2c3d4-2222-4aaa-bbbb-000000000002",
      "disabled": true,
      "notes": "⚠️ DA CONFIGURARE: Sostituisci YOUR_CHAKRAHQ_API_KEY con la tua API key ChakraHQ. Abilita il nodo quando pronto."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apis.chakrahq.com/v1/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_CHAKRAHQ_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $('Calcola Ordinal').item.json.client_phone, type: 'text', text: { body: 'Ciao ' + $('Calcola Ordinal').item.json.client_name + '! \\ud83d\\udda4 La tua seduta di tatuaggio \\u00e8 fissata per il ' + $('Calcola Ordinal').item.json.dateFormatted + ' alle ' + $('Calcola Ordinal').item.json.timeFormatted + '. Dettagli: https://www.irenegipsytattoo.com/dashboard.html\\n\\n\\u2014 Irene Gipsy Tattoo' } }) }}",
        "options": {}
      },
      "name": "WhatsApp Seduta (ChakraHQ)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        3136
      ],
      "id": "a1b2c3d4-2222-4aaa-bbbb-000000000003",
      "disabled": true,
      "notes": "⚠️ DA CONFIGURARE: Sostituisci YOUR_CHAKRAHQ_API_KEY con la tua API key ChakraHQ. Abilita il nodo quando pronto."
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Estrai Dati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estrai Dati": {
      "main": [
        [
          {
            "node": "Conta Sedute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conta Sedute": {
      "main": [
        [
          {
            "node": "Calcola Ordinal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcola Ordinal": {
      "main": [
        [
          {
            "node": "Ha Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha Email?": {
      "main": [
        [
          {
            "node": "Cal.com Crea Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal.com Crea Booking": {
      "main": [
        [
          {
            "node": "Estrai UID Cal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estrai UID Cal": {
      "main": [
        [
          {
            "node": "Salva UID su Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva UID su Supabase": {
      "main": [
        [
          {
            "node": "È Consulenza?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "È Consulenza?": {
      "main": [
        [
          {
            "node": "Gmail Consulenza",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Consulenza (ChakraHQ)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "È Pre-Seduta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "È Pre-Seduta?": {
      "main": [
        [
          {
            "node": "Gmail Pre-Seduta",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Pre-Seduta (ChakraHQ)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail Seduta",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Seduta (ChakraHQ)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Consulenza": {
      "main": [
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Pre-Seduta": {
      "main": [
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Seduta": {
      "main": [
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Consulenza (ChakraHQ)": {
      "main": [
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Pre-Seduta (ChakraHQ)": {
      "main": [
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Seduta (ChakraHQ)": {
      "main": [
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "50e68674-4c6b-47a9-b042-5839db9b0e2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "548b305da89e498b3d11055fd7feb2c3d42eb2d72a9308cee1070564155fb025"
  },
  "id": "Ck3vhjQhHZ6cael9",
  "tags": []
}