n8n-workflows/Cal.com — Riprogramma Prenotazione.json
{
  "name": "Cal.com — Riprogramma Prenotazione",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cal-reschedule",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "237fbf4d-ddef-43df-9b0b-c5bde51d4bce",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "cal-reschedule"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.item.json.body || $input.item.json;\nconst appointment_id  = b.appointment_id  || '';\nconst new_start_iso   = b.new_start_iso   || '';\nconst reason          = b.reason          || 'Richiesta cambio data approvata';\nconst cal_booking_uid = b.cal_booking_uid || null;\nconst client_email    = b.client_email    || null;\n\nif (!appointment_id) throw new Error('appointment_id mancante');\nif (!new_start_iso)  throw new Error('new_start_iso mancante');\n\nreturn [{ json: { appointment_id, new_start_iso, reason, cal_booking_uid, client_email } }];"
      },
      "id": "b8e2dbfc-344f-44a7-8164-79e823eb9e53",
      "name": "Estrai Dati",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/appointments?id=eq.{{ $('Estrai Dati').item.json.appointment_id }}&select=id,type,consultation_mode,notes,payment_method,scheduled_at,cal_booking_uid,clients(id,email,first_name,last_name,phone)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            }
          ]
        },
        "options": {}
      },
      "id": "79eccee2-5f20-46f7-960f-9bec9f4b1117",
      "name": "Leggi Appuntamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Dati dal webhook\nconst d = $('Estrai Dati').item.json;\nconst appointment_id  = d.appointment_id;\nconst new_start_iso   = d.new_start_iso;\nconst fallback_email  = d.client_email || '';\n\n// Dati da Supabase\nconst rows = Array.isArray($input.item.json) ? $input.item.json : [$input.item.json];\nconst appt   = rows[0] || {};\nconst client = (appt.clients && typeof appt.clients === 'object') ? appt.clients : {};\n\n// UID da cancellare: prima quello passato dal webhook, poi quello in Supabase\nconst uid_for_cancel = d.cal_booking_uid || appt.cal_booking_uid || 'not-found';\n\n// Mappa tipo → eventTypeId ADMIN (orari illimitati)\nconst EVENT_TYPE_IDS = { consulenza: 5147645, 'pre-seduta': 5147653, seduta: 5147823 };\nconst eventTypeId = EVENT_TYPE_IDS[appt.type] || 5147645;\n\nconst clientName  = [client.first_name, client.last_name].filter(Boolean).join(' ').trim() || client.email || fallback_email;\nconst clientEmail = client.email || fallback_email;\nconst clientPhone = client.phone || '';\n\n// v2: attendee object (non responses)\nconst attendee = {\n  name:     clientName,\n  email:    clientEmail,\n  timeZone: 'Europe/Rome',\n  language: 'it'\n};\nif (clientPhone) attendee.phoneNumber = clientPhone;\n\nconst calPayload = {\n  eventTypeId,\n  start: new_start_iso,\n  attendee,\n  metadata: {\n    pagamento:        appt.payment_method || '',\n    descrizione_idea: appt.notes || ''\n  }\n};\nif (appt.notes) calPayload.bookingFieldsResponses = { notes: appt.notes };\n\nreturn [{ json: {\n  uid_for_cancel,\n  calBodyString: JSON.stringify(calPayload),\n  appointment_id,\n  new_start_iso,\n  client_email: clientEmail\n} }];"
      },
      "id": "ee728169-bfaa-4a0c-a992-d8fabe1c3f17",
      "name": "Prepara Dati",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.cal.com/v2/bookings/' + $json.uid_for_cancel + '/cancel' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cal_live_c63016ee51343f3492c2759c4a0d5c93"
            },
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"cancellationReason\": \"Riprogrammazione\" }",
        "options": {}
      },
      "id": "5552d632-f0f6-4ec9-99e8-ebf90c6d53b4",
      "name": "Cancella Vecchio Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cal.com/v2/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cal_live_c63016ee51343f3492c2759c4a0d5c93"
            },
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Prepara Dati').item.json.calBodyString }}",
        "options": {}
      },
      "id": "e17b83a1-4855-4e07-a258-4ed2f65d5100",
      "name": "Crea Nuovo Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Estrai uid dal nuovo booking Cal.com v2 (wrappato in .data)\nconst resp = $input.item.json;\nconst new_uid = resp.data?.uid || resp.uid || null;\nconst appointment_id = $('Prepara Dati').item.json.appointment_id;\nconst client_email   = $('Prepara Dati').item.json.client_email;\nconst new_start_iso  = $('Prepara Dati').item.json.new_start_iso;\n\nreturn [{ json: { new_uid, appointment_id, client_email, new_start_iso } }];"
      },
      "id": "202547a0-c59d-4ead-a64c-a5b36e6b8d60",
      "name": "Salva Nuovo UID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/appointments?id=eq.{{ $json.appointment_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.new_uid ? { cal_booking_uid: $json.new_uid } : {}) }}",
        "options": {}
      },
      "id": "c5aae0ab-cf6d-40d0-b3ee-a0315d1cca20",
      "name": "Aggiorna Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Salva Nuovo UID').item.json.client_email }}",
        "subject": "✅ Appuntamento riprogrammato — Irene Gipsy Tattoo",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap\" rel=\"stylesheet\">\n  <style>\n    body { margin:0; padding:0; background-color:#0a0a0a; font-family:'Montserrat',sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n    .email-wrapper { background-color:#0a0a0a; padding:30px 10px; }\n    .container { max-width:600px; width:100%; margin:0 auto; background-color:#121212; overflow:hidden; }\n    .header { background-color:#000000; padding:40px 30px 32px; text-align:center; border-bottom:1px solid #222; }\n    .header-divider { width:60px; height:2px; background-color:#D4AF37; margin:0 auto 20px; }\n    .content { background-color:#121212; padding:36px 30px; }\n    .footer { background-color:#000000; text-align:center; padding:30px 20px; border-top:1px solid #222; }\n    @media only screen and (max-width:600px) {\n      .email-wrapper { padding:10px 5px !important; }\n      .header { padding:28px 16px 24px !important; }\n      .content { padding:24px 16px !important; }\n      .footer { padding:24px 16px !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a0a;\">\n  <div class=\"email-wrapper\" style=\"background-color:#0a0a0a;padding:30px 10px;\">\n    <div class=\"container\" style=\"max-width:600px;width:100%;margin:0 auto;background-color:#121212;overflow:hidden;\">\n      <div class=\"header\" style=\"background-color:#000000;padding:40px 30px 32px;text-align:center;border-bottom:1px solid #222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.6rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:6px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;color:#F5F5DC;letter-spacing:3px;text-transform:uppercase;display:block;margin-bottom:20px;\">Realistic Tattoo Artist</span>\n        <div class=\"header-divider\" style=\"width:60px;height:2px;background-color:#D4AF37;margin:0 auto 20px;\"></div>\n        <h1 style=\"font-family:'Playfair Display',serif;font-size:1.8rem;font-weight:400;color:#D4AF37;margin:0;letter-spacing:0.5px;\">✅ Appuntamento Riprogrammato</h1>\n      </div>\n      <div class=\"content\" style=\"background-color:#121212;padding:36px 30px;\">\n        <p style=\"font-family:'Playfair Display',serif;font-size:1.4rem;font-weight:400;color:#D4AF37;margin-bottom:14px;font-style:italic;\">Ciao,</p>\n        <p style=\"font-size:0.95rem;margin-bottom:28px;color:#F5F5DC;font-weight:300;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n          Il tuo appuntamento è stato <strong style=\"color:#D4AF37;font-weight:600;\">riprogrammato</strong> con successo. Qui sotto trovi la nuova data confermata.\n        </p>\n        <div style=\"background-color:#1a160a;border:1px solid #D4AF37;padding:28px 24px;margin:0 0 28px;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 16px;padding-bottom:10px;border-bottom:1px solid #3a2e10;\">📋 Nuova Data Confermata</p>\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">📅</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Data:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">{{ new Date($('Salva Nuovo UID').item.json.new_start_iso).toLocaleString('it-IT', { weekday:'long', day:'2-digit', month:'long', year:'numeric', hour:'2-digit', minute:'2-digit', timeZone:'Europe/Rome' }) }}</span>\n            </div>\n          </div>\n        </div>\n        <div style=\"background-color:#1a1a1a;padding:20px;border:1px solid #333333;\">\n          <p style=\"font-size:0.85rem;color:#888888;font-style:italic;margin:0;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n            💬 Per qualsiasi necessità non esitare a contattarci. A presto!\n          </p>\n        </div>\n      </div>\n      <div class=\"footer\" style=\"background-color:#000000;text-align:center;padding:30px 20px;border-top:1px solid #222222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.1rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:4px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:3px;color:#F5F5DC;display:block;margin-bottom:16px;\">Realistic Tattoo Artist</span>\n        <p style=\"margin:0 0 10px;\">\n          <a href=\"mailto:irenegipsytattoo@gmail.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Email</a> |\n          <a href=\"https://www.instagram.com/irenegipsytattoo/\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Instagram</a> |\n          <a href=\"https://wa.me/393471648654\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Whatsapp</a>\n        </p>\n        <p style=\"margin:0 0 16px;\">\n          <a href=\"https://www.irenegipsytattoo.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">www.irenegipsytattoo.com</a>\n        </p>\n        <p style=\"margin:0;font-size:0.7rem;color:#333333;letter-spacing:0.5px;font-family:'Montserrat',sans-serif;\">© 2026 Tutti i diritti riservati</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "34debe0a-ede5-4677-bf27-95ce1664690d",
      "name": "Email Conferma",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        0
      ],
      "webhookId": "2d819fe6-23a3-4b12-a944-bef8fdc5c0bc",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZmFlwpy10UFOwY00",
          "name": "Gmail - Irene"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"message\": \"Riprogrammazione completata\" }",
        "options": {}
      },
      "id": "0c0ca27a-d202-44bd-a549-c55bf1683587",
      "name": "Risposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1808,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Estrai Dati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estrai Dati": {
      "main": [
        [
          {
            "node": "Leggi Appuntamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leggi Appuntamento": {
      "main": [
        [
          {
            "node": "Prepara Dati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Dati": {
      "main": [
        [
          {
            "node": "Cancella Vecchio Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancella Vecchio Booking": {
      "main": [
        [
          {
            "node": "Crea Nuovo Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crea Nuovo Booking": {
      "main": [
        [
          {
            "node": "Salva Nuovo UID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Nuovo UID": {
      "main": [
        [
          {
            "node": "Aggiorna Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggiorna Supabase": {
      "main": [
        [
          {
            "node": "Email Conferma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Conferma": {
      "main": [
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdf823c5-abeb-4eb9-9271-3adbe11c4712",
  "meta": {
    "instanceId": "548b305da89e498b3d11055fd7feb2c3d42eb2d72a9308cee1070564155fb025"
  },
  "id": "3xW1Yz5tts05LlMI",
  "tags": []
}