n8n-workflows/Cal.com — Sync Supabase (Webhook Cal).json
{
  "name": "Cal.com — Sync Supabase (Webhook Cal)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cal-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "71637542-5738-447a-8bd6-cb7ea0ab1f28",
      "name": "Webhook Cal.com",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1392,
        64
      ],
      "webhookId": "cal-sync"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.item.json.body || $input.item.json;\nconst trigger      = b.triggerEvent || b.trigger_event || '';\nconst payload      = b.payload || b;\n\nconst uid          = payload.uid          || null;\nconst rescheduleUid = payload.rescheduleUid || null;\nconst startTime    = payload.startTime    || null;\n\nreturn [{ json: { trigger, uid, rescheduleUid, startTime } }];"
      },
      "id": "14f0381c-6565-422f-b3c3-db74b6605fb9",
      "name": "Estrai Dati",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        64
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.trigger }}",
                    "rightValue": "BOOKING_CANCELLED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.trigger }}",
                    "rightValue": "BOOKING_RESCHEDULED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rescheduled"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "cfaf8ef5-4d35-4279-98ec-50fb96f3ed4c",
      "name": "Tipo Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -944,
        64
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/appointments?cal_booking_uid=eq.{{ $json.uid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"cancelled\" }",
        "options": {}
      },
      "id": "b2392bbe-40bd-44b0-a046-33f10685540f",
      "name": "Supabase — Segna Cancellato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -704,
        -80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst lookupUid = d.rescheduleUid || d.uid;\nconst newUid    = d.uid;\nconst startTime = d.startTime;\nreturn [{ json: { lookupUid, newUid, startTime } }];"
      },
      "id": "b05219a8-5e0d-4534-a02a-55a9a50b2bf6",
      "name": "Prepara Reschedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        208
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/appointments?cal_booking_uid=eq.{{ $json.lookupUid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"scheduled_at\": \"{{ $json.startTime }}\", \"cal_booking_uid\": \"{{ $json.newUid }}\" }",
        "options": {}
      },
      "id": "8aef5511-5a6f-4ab7-b803-f8021f876f29",
      "name": "Supabase — Aggiorna Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "df03832a-bd8c-492c-b30a-ce90eb84efd9",
      "name": "Risposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -464,
        -80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Cal.com": {
      "main": [
        [
          {
            "node": "Estrai Dati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estrai Dati": {
      "main": [
        [
          {
            "node": "Tipo Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo Evento": {
      "main": [
        [
          {
            "node": "Supabase — Segna Cancellato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepara Reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — Segna Cancellato": {
      "main": [
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Reschedule": {
      "main": [
        [
          {
            "node": "Supabase — Aggiorna Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — Aggiorna Data": {
      "main": [
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ec8c9f9c-5f40-436a-9205-0437727aa476",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "548b305da89e498b3d11055fd7feb2c3d42eb2d72a9308cee1070564155fb025"
  },
  "id": "m2pKh9SY0WcrJpYK",
  "tags": []
}