n8n-workflows/Conferma Seduta — Timeout 48h.json
{
  "name": "Conferma Seduta — Timeout 48h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "d3b30001-0001-4001-8001-000000000001",
      "name": "Ogni giorno 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-448, 128]
    },
    {
      "parameters": {
        "jsCode": "// Cerca sedute a 5 giorni da ora (= 7gg reminder inviato 2 giorni fa)\nconst now = new Date();\nconst pad = function(n) { return String(n).padStart(2, '0'); };\nconst fmtDate = function(d) {\n  return d.getFullYear() + '-' + pad(d.getMonth()+1) + '-' + pad(d.getDate());\n};\nconst d5 = new Date(now);\nd5.setDate(d5.getDate() + 5);\nreturn [{ json: {\n  d5Start: fmtDate(d5) + 'T00:00:00',\n  d5End:   fmtDate(d5) + 'T23:59:59'\n}}];"
      },
      "id": "d3b30001-0001-4001-8001-000000000002",
      "name": "Calcola Data 5 Giorni",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-224, 128]
    },
    {
      "parameters": {
        "url": "https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/appointments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*,clients(id,first_name,last_name,email,phone)"
            },
            {
              "name": "type",
              "value": "eq.seduta"
            },
            {
              "name": "status",
              "value": "eq.confirmed"
            },
            {
              "name": "client_confirmed_at",
              "value": "is.null"
            },
            {
              "name": "scheduled_at",
              "value": "={{ 'gte.' + $('Calcola Data 5 Giorni').first().json.d5Start }}"
            },
            {
              "name": "scheduled_at",
              "value": "={{ 'lt.' + $('Calcola Data 5 Giorni').first().json.d5End }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            }
          ]
        },
        "options": {}
      },
      "id": "d3b30001-0001-4001-8001-000000000003",
      "name": "Supabase Non Confermate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [0, 128]
    },
    {
      "parameters": {
        "jsCode": "const responseData = $input.first().json;\nconst appointments = Array.isArray(responseData) ? responseData : [];\nif (appointments.length === 0) return [];\n\nreturn appointments.map(function(appt) {\n  var client = appt.clients || {};\n  var date = new Date(appt.scheduled_at);\n  return { json: {\n    appointmentId: appt.id,\n    clientId:      client.id,\n    clientName:    ((client.first_name||'') + ' ' + (client.last_name||'')).trim() || 'Cliente sconosciuto',\n    clientEmail:   client.email || '',\n    clientPhone:   client.phone || '',\n    data:          date.toLocaleDateString('it-IT', {weekday:'long', day:'numeric', month:'long', year:'numeric'}),\n    ora:           date.toLocaleTimeString('it-IT', {hour:'2-digit', minute:'2-digit', timeZone:'Europe/Rome'})\n  }};\n}).filter(Boolean);"
      },
      "id": "d3b30001-0001-4001-8001-000000000004",
      "name": "Dati Non Confermati",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 128]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ client_id: null, type: 'confirm_timeout', title: '⚠️ Seduta non confermata', message: $json.clientName + ' non ha confermato la seduta del ' + $json.data + ' alle ' + $json.ora + '. Contattalo/a per verificare.', link: '/admin-dashboard.html', is_admin: true, metadata: { appointment_id: $json.appointmentId, client_name: $json.clientName, client_email: $json.clientEmail, client_phone: $json.clientPhone } }) }}",
        "options": {}
      },
      "id": "d3b30001-0001-4001-8001-000000000005",
      "name": "Notifica Irene",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 0]
    },
    {
      "parameters": {
        "sendTo": "irenegipsytattoo@gmail.com",
        "subject": "=⚠️ Seduta non confermata — {{ $json.clientName }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap\" rel=\"stylesheet\">\n  <style>\n    body { margin:0; padding:0; background-color:#0a0a0a; font-family:'Montserrat',sans-serif; }\n    .email-wrapper { background-color:#0a0a0a; padding:30px 10px; }\n    .container { max-width:600px; width:100%; margin:0 auto; background-color:#121212; overflow:hidden; }\n    .header { background-color:#000000; padding:40px 30px 32px; text-align:center; border-bottom:1px solid #222; }\n    .header-divider { width:60px; height:2px; background-color:#D4AF37; margin:0 auto 20px; }\n    .content { background-color:#121212; padding:36px 30px; }\n    .footer { background-color:#000000; text-align:center; padding:30px 20px; border-top:1px solid #222; }\n    @media only screen and (max-width:600px) {\n      .email-wrapper { padding:10px 5px !important; }\n      .header { padding:28px 16px 24px !important; }\n      .content { padding:24px 16px !important; }\n      .footer { padding:24px 16px !important; }\n      .info-box { padding:16px !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a0a;\">\n  <div class=\"email-wrapper\" style=\"background-color:#0a0a0a;padding:30px 10px;\">\n    <div class=\"container\" style=\"max-width:600px;width:100%;margin:0 auto;background-color:#121212;overflow:hidden;\">\n\n      <!-- HEADER -->\n      <div class=\"header\" style=\"background-color:#000000;padding:40px 30px 32px;text-align:center;border-bottom:1px solid #222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.6rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:6px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;color:#F5F5DC;letter-spacing:3px;text-transform:uppercase;display:block;margin-bottom:20px;\">Admin Notification</span>\n        <div class=\"header-divider\" style=\"width:60px;height:2px;background-color:#D4AF37;margin:0 auto 20px;\"></div>\n        <h1 style=\"font-family:'Playfair Display',serif;font-size:1.8rem;font-weight:400;color:#e05555;margin:0;\">⚠️ Seduta Non Confermata</h1>\n      </div>\n\n      <!-- CONTENT -->\n      <div class=\"content\" style=\"background-color:#121212;padding:36px 30px;\">\n\n        <p style=\"font-family:'Playfair Display',serif;font-size:1.4rem;font-weight:400;color:#D4AF37;margin-bottom:14px;font-style:italic;\">Ciao Irene,</p>\n\n        <p style=\"font-size:0.95rem;margin-bottom:28px;color:#F5F5DC;font-weight:300;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n          Il seguente cliente <strong style=\"color:#e05555;font-weight:600;\">non ha confermato</strong> la seduta entro 48 ore dal promemoria inviato 2 giorni fa. Valuta se contattarlo/a.\n        </p>\n\n        <!-- INFO BOX -->\n        <div class=\"info-box\" style=\"background-color:#1a160a;border:1px solid #e05555;padding:28px 24px;margin:0 0 28px;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#e05555;margin:0 0 16px;padding-bottom:10px;border-bottom:1px solid #3a2e10;\">📋 Dettagli</p>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;\">👤</span>\n            <div>\n              <span style=\"color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Cliente:</span>\n              <span style=\"color:#F5F5DC;font-size:0.9rem;\">{{ $json.clientName }}</span>\n            </div>\n          </div>\n          <div style=\"height:1px;background-color:#3a2e10;margin:12px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;\">📅</span>\n            <div>\n              <span style=\"color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Seduta:</span>\n              <span style=\"color:#F5F5DC;font-size:0.9rem;\">{{ $json.data }} alle {{ $json.ora }}</span>\n            </div>\n          </div>\n          <div style=\"height:1px;background-color:#3a2e10;margin:12px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;\">📧</span>\n            <div>\n              <span style=\"color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Email:</span>\n              <span style=\"color:#F5F5DC;font-size:0.9rem;\">{{ $json.clientEmail }}</span>\n            </div>\n          </div>\n          <div style=\"height:1px;background-color:#3a2e10;margin:12px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;\">📱</span>\n            <div>\n              <span style=\"color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Telefono:</span>\n              <span style=\"color:#F5F5DC;font-size:0.9rem;\">{{ $json.clientPhone || 'Non disponibile' }}</span>\n            </div>\n          </div>\n        </div>\n\n        <!-- CTA -->\n        <div style=\"text-align:center;margin:0 0 28px;\">\n          <a href=\"https://www.irenegipsytattoo.com/admin-dashboard.html\" style=\"display:inline-block;background-color:#D4AF37;color:#0a0a0a;font-family:'Montserrat',sans-serif;font-size:0.85rem;font-weight:600;text-decoration:none;padding:16px 36px;text-transform:uppercase;letter-spacing:1px;\">Apri Dashboard</a>\n        </div>\n\n      </div>\n\n      <!-- FOOTER -->\n      <div class=\"footer\" style=\"background-color:#000000;text-align:center;padding:30px 20px;border-top:1px solid #222222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.1rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:4px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:3px;color:#F5F5DC;display:block;margin-bottom:16px;\">Admin Panel</span>\n        <p style=\"margin-top:0;font-size:0.7rem;color:#333333;letter-spacing:0.5px;font-family:'Montserrat',sans-serif;\">© 2026 Notifica automatica</p>\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "d3b30001-0001-4001-8001-000000000006",
      "name": "Gmail Irene",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 260],
      "credentials": {
        "gmailOAuth2": {
          "id": "ZmFlwpy10UFOwY00",
          "name": "Gmail - Irene"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ogni giorno 09:00": {
      "main": [
        [
          {
            "node": "Calcola Data 5 Giorni",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcola Data 5 Giorni": {
      "main": [
        [
          {
            "node": "Supabase Non Confermate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Non Confermate": {
      "main": [
        [
          {
            "node": "Dati Non Confermati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dati Non Confermati": {
      "main": [
        [
          {
            "node": "Notifica Irene",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail Irene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}