n8n-workflows/Irene — Notifica Proposta Nuova Data Pre-Seduta.json
{
  "name": "Irene — Notifica Proposta Nuova Data Pre-Seduta",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "irene-proposal-notify-preseduta",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "99a312ff-9d29-4fe7-885b-b9f9eae0ad9b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        784,
        208
      ],
      "webhookId": "irene-proposal-notify-preseduta"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.item.json.body || $input.item.json;\nconst client_email  = b.client_email  || '';\nconst client_name   = b.client_name   || 'Cliente';\nconst proposed_date = b.proposed_date || '';\nconst proposed_time = b.proposed_time || '';\nconst reason        = b.reason        || '';\n\nif (!client_email)  throw new Error('client_email mancante');\nif (!proposed_date) throw new Error('proposed_date mancante');\n\n// Formatta la data in italiano\nconst dt = new Date(proposed_date + 'T12:00:00');\nconst dateFormatted = dt.toLocaleDateString('it-IT', { weekday: 'long', day: '2-digit', month: 'long', year: 'numeric' });\n\nreturn [{ json: { client_email, client_name, proposed_date, proposed_time, reason, dateFormatted } }];"
      },
      "id": "562e695d-e6dd-4bb5-b955-31abde432c46",
      "name": "Estrai Dati",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        208
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.client_email }}",
        "subject": "📅 Proposta cambio pre-seduta — Irene Gipsy Tattoo",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    body { margin:0; padding:0; background-color:#0a0a0a; font-family:'Montserrat',sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n    .email-wrapper { background-color:#0a0a0a; padding:30px 10px; }\n    .container { max-width:600px; width:100%; margin:0 auto; background-color:#121212; overflow:hidden; }\n    .header { background-color:#000000; padding:40px 30px 32px; text-align:center; border-bottom:1px solid #222; }\n    .header-divider { width:60px; height:2px; background-color:#D4AF37; margin:0 auto 20px; }\n    .content { background-color:#121212; padding:36px 30px; }\n    .footer { background-color:#000000; text-align:center; padding:30px 20px; border-top:1px solid #222; }\n\n    @media only screen and (max-width:600px) {\n      .email-wrapper { padding:10px 5px !important; }\n      .header { padding:28px 16px 24px !important; }\n      .content { padding:24px 16px !important; }\n      .footer { padding:24px 16px !important; }\n      .header-script { font-size:1.3rem !important; }\n      .header-h1 { font-size:1.4rem !important; }\n      .proposta-box { padding:16px !important; }\n      .note { padding:16px !important; }\n      .btn-mobile { display:block !important; width:85% !important; max-width:300px !important; margin:0 auto !important; box-sizing:border-box !important; padding:14px 20px !important; }\n    }\n    @media only screen and (max-width:400px) {\n      .header-h1 { font-size:1.2rem !important; }\n      .btn-mobile { width:92% !important; font-size:0.85rem !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a0a;\">\n  <div class=\"email-wrapper\" style=\"background-color:#0a0a0a;padding:30px 10px;\">\n    <div class=\"container\" style=\"max-width:600px;width:100%;margin:0 auto;background-color:#121212;overflow:hidden;\">\n\n      <!-- HEADER -->\n      <div class=\"header\" style=\"background-color:#000000;padding:40px 30px 32px;text-align:center;border-bottom:1px solid #222;\">\n        <span class=\"header-script\" style=\"font-family:'Playfair Display',serif;font-size:1.6rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:6px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;color:#F5F5DC;letter-spacing:3px;text-transform:uppercase;display:block;margin-bottom:20px;\">Realistic Tattoo Artist</span>\n        <div class=\"header-divider\" style=\"width:60px;height:2px;background-color:#D4AF37;margin:0 auto 20px;\"></div>\n        <h1 class=\"header-h1\" style=\"font-family:'Playfair Display',serif;font-size:1.8rem;font-weight:400;color:#D4AF37;margin:0;letter-spacing:0.5px;\">📅 Proposta Cambio Pre-Seduta</h1>\n      </div>\n\n      <!-- CONTENT -->\n      <div class=\"content\" style=\"background-color:#121212;padding:36px 30px;\">\n\n        <p style=\"font-family:'Playfair Display',serif;font-size:1.4rem;font-weight:400;color:#D4AF37;margin-bottom:14px;font-style:italic;\">Ciao {{ $json.client_name }},</p>\n\n        <p style=\"font-size:0.95rem;margin-bottom:28px;color:#F5F5DC;font-weight:300;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n          Irene ti propone di <strong style=\"color:#D4AF37;font-weight:600;\">spostare la tua pre-seduta</strong> a una nuova data. Puoi accettare o rifiutare direttamente dalla tua area personale.\n        </p>\n\n        <!-- PROPOSTA BOX -->\n        <div class=\"proposta-box\" style=\"background-color:#1a160a;border:1px solid #D4AF37;padding:28px 24px;margin:0 0 28px;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 16px;padding-bottom:10px;border-bottom:1px solid #3a2e10;\">📋 Nuova Data Proposta</p>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">📅</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Data:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">{{ $json.dateFormatted }}</span>\n            </div>\n          </div>\n\n          <div style=\"height:1px;background-color:#3a2e10;margin:12px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">🕐</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Orario:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">{{ $json.proposed_time }}</span>\n            </div>\n          </div>\n\n          {{ $json.reason ? `\n          <div style=\"height:1px;background-color:#3a2e10;margin:12px 0;\"></div>\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">💬</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;display:block;margin-bottom:6px;\">Nota di Irene:</span>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#F5F5DC;font-size:0.9rem;font-weight:300;font-style:italic;\">\"` + $json.reason + `\"</span>\n            </div>\n          </div>` : '' }}\n        </div>\n\n        <!-- CTA -->\n        <div style=\"text-align:center;margin:0 0 28px;\">\n          <p style=\"font-size:0.8rem;color:#888888;text-transform:uppercase;letter-spacing:1px;margin-bottom:18px;font-family:'Montserrat',sans-serif;\">Accetta o rifiuta la proposta</p>\n          <a href=\"https://irenegipsytattoo.it/dashboard.html\" class=\"btn-mobile\" style=\"display:inline-block;padding:12px 30px;border:1px solid #D4AF37;text-transform:uppercase;font-family:'Montserrat',sans-serif;font-size:0.9rem;letter-spacing:1px;background-color:#D4AF37;color:#000000;font-weight:600;text-decoration:none;border-radius:0;\">\n            Vai alla Tua Area Personale\n          </a>\n        </div>\n\n        <!-- NOTE -->\n        <div class=\"note\" style=\"background-color:#1a1a1a;padding:20px;border:1px solid #333333;\">\n          <p style=\"font-size:0.85rem;color:#888888;font-style:italic;margin:0;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n            💬 Per qualsiasi necessità non esitare a contattarci. A presto!<br>\n            <strong style=\"color:#F5F5DC;font-weight:600;\"></strong>\n          </p>\n        </div>\n\n      </div>\n\n      <!-- FOOTER -->\n      <div class=\"footer\" style=\"background-color:#000000;text-align:center;padding:30px 20px;border-top:1px solid #222222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.1rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:4px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:3px;color:#F5F5DC;display:block;margin-bottom:16px;\">Realistic Tattoo Artist</span>\n        <p style=\"margin:0 0 10px;\">\n          <a href=\"mailto:irenegipsytattoo@gmail.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Email</a> |\n          <a href=\"https://www.instagram.com/irenegipsytattoo/\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Instagram</a> |\n          <a href=\"https://wa.me/393471648654\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Whatsapp</a>\n        </p>\n        <p style=\"margin:0 0 16px;\">\n          <a href=\"https://www.irenegipsytattoo.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">www.irenegipsytattoo.com</a>\n        </p>\n        <p style=\"margin:0;font-size:0.7rem;color:#333333;letter-spacing:0.5px;font-family:'Montserrat',sans-serif;\">© 2026 Tutti i diritti riservati</p>\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a0410f2e-6d4a-4c31-90c7-da3410e23fe7",
      "name": "Invia Email al Cliente",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1364,
        88
      ],
      "webhookId": "dadf08f4-16fe-4a8b-8917-e03f30c15947",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZmFlwpy10UFOwY00",
          "name": "Gmail - Irene"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "5ca2da6c-8f76-4a88-a8a3-f90a912db251",
      "name": "Risposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1568,
        208
      ]
    },
    {
      "parameters": {
        "url": "=https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/clients?email=eq.{{ $json.client_email }}&select=phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-2001-4bbb-b002-200000000001",
      "name": "Lookup Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1164,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apis.chakrahq.com/v1/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_CHAKRAHQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: ($input.item.json[0]?.phone || $input.item.json.phone || ''), type: 'text', text: { body: 'Ciao ' + $('Estrai Dati').item.json.client_name + '! 📅 Irene ti propone una nuova data per la pre-seduta: ' + $('Estrai Dati').item.json.dateFormatted + ' alle ' + $('Estrai Dati').item.json.proposed_time + '.' + ($('Estrai Dati').item.json.reason ? ' ' + $('Estrai Dati').item.json.reason : '') + '\\n\\nAccetta o rifiuta: https://www.irenegipsytattoo.com/dashboard.html\\n\\n— Irene Gipsy Tattoo' } }) }}",
        "options": {}
      },
      "id": "b2c3d4e5-2001-4bbb-b002-200000000002",
      "name": "WhatsApp (ChakraHQ)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "disabled": true,
      "position": [
        1364,
        328
      ],
      "notes": "⚠️ DA CONFIGURARE: Sostituisci YOUR_CHAKRAHQ_API_KEY con la tua API key ChakraHQ."
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Estrai Dati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estrai Dati": {
      "main": [
        [
          {
            "node": "Lookup Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Phone": {
      "main": [
        [
          {
            "node": "Invia Email al Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp (ChakraHQ)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invia Email al Cliente": {
      "main": [
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp (ChakraHQ)": {
      "main": [
        [
          {
            "node": "Risposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3dd91ff0-45ed-4d70-9b77-0f90b525b459",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "548b305da89e498b3d11055fd7feb2c3d42eb2d72a9308cee1070564155fb025"
  },
  "id": "jNU51nPiSDIDfoHy",
  "tags": []
}