n8n-workflows/Promemoria 7 Giorni — Conferma Seduta.json
{
  "name": "Promemoria 7 Giorni — Conferma Seduta",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "b1a10001-0001-4001-8001-000000000001",
      "name": "Ogni giorno 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-448, 128]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst pad = function(n) { return String(n).padStart(2, '0'); };\nconst fmtDate = function(d) {\n  return d.getFullYear() + '-' + pad(d.getMonth()+1) + '-' + pad(d.getDate());\n};\nconst d7 = new Date(now);\nd7.setDate(d7.getDate() + 7);\nreturn [{ json: {\n  d7Start: fmtDate(d7) + 'T00:00:00',\n  d7End:   fmtDate(d7) + 'T23:59:59'\n}}];"
      },
      "id": "b1a10001-0001-4001-8001-000000000002",
      "name": "Calcola Data 7 Giorni",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-224, 128]
    },
    {
      "parameters": {
        "url": "https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/appointments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*,clients(id,first_name,last_name,email,phone)"
            },
            {
              "name": "type",
              "value": "eq.seduta"
            },
            {
              "name": "status",
              "value": "eq.confirmed"
            },
            {
              "name": "client_confirmed_at",
              "value": "is.null"
            },
            {
              "name": "scheduled_at",
              "value": "={{ 'gte.' + $('Calcola Data 7 Giorni').first().json.d7Start }}"
            },
            {
              "name": "scheduled_at",
              "value": "={{ 'lt.' + $('Calcola Data 7 Giorni').first().json.d7End }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            }
          ]
        },
        "options": {}
      },
      "id": "b1a10001-0001-4001-8001-000000000003",
      "name": "Supabase Sedute 7gg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [0, 128]
    },
    {
      "parameters": {
        "jsCode": "const responseData = $input.first().json;\nconst appointments = Array.isArray(responseData) ? responseData : [];\nif (appointments.length === 0) return [];\n\nreturn appointments.map(function(appt) {\n  var client = appt.clients || {};\n  if (!client.email) return null;\n  var date = new Date(appt.scheduled_at);\n  return { json: {\n    appointmentId: appt.id,\n    clientId:  client.id,\n    emailTo:   client.email,\n    phoneTo:   client.phone || '',\n    nameTo:    ((client.first_name||'') + ' ' + (client.last_name||'')).trim(),\n    nome:      client.first_name || 'cliente',\n    data:      date.toLocaleDateString('it-IT', {weekday:'long', day:'numeric', month:'long', year:'numeric'}),\n    ora:       date.toLocaleTimeString('it-IT', {hour:'2-digit', minute:'2-digit'}),\n    dashboardLink: 'https://www.irenegipsytattoo.com/dashboard.html'\n  }};\n}).filter(Boolean);"
      },
      "id": "b1a10001-0001-4001-8001-000000000004",
      "name": "Dati Seduta 7gg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 128]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.emailTo }}",
        "subject": "📅 La tua seduta è tra 7 giorni — Conferma la presenza",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap\" rel=\"stylesheet\">\n  <style>\n    body { margin:0; padding:0; background-color:#0a0a0a; font-family:'Montserrat',sans-serif; }\n    .email-wrapper { background-color:#0a0a0a; padding:30px 10px; }\n    .container { max-width:600px; width:100%; margin:0 auto; background-color:#121212; overflow:hidden; }\n    .header { background-color:#000000; padding:40px 30px 32px; text-align:center; border-bottom:1px solid #222; }\n    .header-divider { width:60px; height:2px; background-color:#D4AF37; margin:0 auto 20px; }\n    .content { background-color:#121212; padding:36px 30px; }\n    .footer { background-color:#000000; text-align:center; padding:30px 20px; border-top:1px solid #222; }\n    @media only screen and (max-width:600px) {\n      .email-wrapper { padding:10px 5px !important; }\n      .header { padding:28px 16px 24px !important; }\n      .content { padding:24px 16px !important; }\n      .footer { padding:24px 16px !important; }\n      .header-script { font-size:1.3rem !important; }\n      .header-h1 { font-size:1.4rem !important; }\n      .appt-box { padding:16px !important; }\n      .cta-btn { padding:14px 28px !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a0a;\">\n  <div class=\"email-wrapper\" style=\"background-color:#0a0a0a;padding:30px 10px;\">\n    <div class=\"container\" style=\"max-width:600px;width:100%;margin:0 auto;background-color:#121212;overflow:hidden;\">\n\n      <!-- HEADER -->\n      <div class=\"header\" style=\"background-color:#000000;padding:40px 30px 32px;text-align:center;border-bottom:1px solid #222;\">\n        <span class=\"header-script\" style=\"font-family:'Playfair Display',serif;font-size:1.6rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:6px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;color:#F5F5DC;letter-spacing:3px;text-transform:uppercase;display:block;margin-bottom:20px;\">Realistic Tattoo Artist</span>\n        <div class=\"header-divider\" style=\"width:60px;height:2px;background-color:#D4AF37;margin:0 auto 20px;\"></div>\n        <h1 class=\"header-h1\" style=\"font-family:'Playfair Display',serif;font-size:1.8rem;font-weight:400;color:#D4AF37;margin:0;\">📅 Conferma la Tua Seduta</h1>\n      </div>\n\n      <!-- CONTENT -->\n      <div class=\"content\" style=\"background-color:#121212;padding:36px 30px;\">\n\n        <p style=\"font-family:'Playfair Display',serif;font-size:1.4rem;font-weight:400;color:#D4AF37;margin-bottom:14px;font-style:italic;\">Ciao {{ $json.nome }},</p>\n\n        <p style=\"font-size:0.95rem;margin-bottom:28px;color:#F5F5DC;font-weight:300;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n          La tua seduta di tatuaggio è tra <strong style=\"color:#D4AF37;font-weight:600;\">7 giorni</strong>. Per favore, conferma la tua presenza dalla tua area personale.\n        </p>\n\n        <!-- APPUNTAMENTO BOX -->\n        <div class=\"appt-box\" style=\"background-color:#1a160a;border:1px solid #D4AF37;padding:28px 24px;margin:0 0 28px;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 16px;padding-bottom:10px;border-bottom:1px solid #3a2e10;\">📋 La Tua Seduta</p>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">📅</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Data:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">{{ $json.data }}</span>\n            </div>\n          </div>\n\n          <div style=\"height:1px;background-color:#3a2e10;margin:12px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">🕐</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Ora:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">{{ $json.ora }}</span>\n            </div>\n          </div>\n\n          <div style=\"height:1px;background-color:#3a2e10;margin:12px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">✏️</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Tipo:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">Seduta Tatuaggio</span>\n            </div>\n          </div>\n        </div>\n\n        <!-- CTA BUTTON -->\n        <div style=\"text-align:center;margin:0 0 28px;\">\n          <a href=\"{{ $json.dashboardLink }}\" class=\"cta-btn\" style=\"display:inline-block;background-color:#D4AF37;color:#0a0a0a;font-family:'Montserrat',sans-serif;font-size:0.85rem;font-weight:600;text-decoration:none;padding:16px 36px;text-transform:uppercase;letter-spacing:1px;\">Conferma la Tua Presenza</a>\n        </div>\n\n        <!-- NOTE -->\n        <div style=\"background-color:#1a1a1a;padding:20px;border:1px solid #333333;\">\n          <p style=\"font-size:0.85rem;color:#888888;font-style:italic;margin:0;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n            ⚠️ Se non puoi venire, comunicacelo il prima possibile scrivendo su <strong style=\"color:#F5F5DC;font-weight:600;\">WhatsApp</strong> o dalla tua area personale. 🖤\n          </p>\n        </div>\n\n      </div>\n\n      <!-- FOOTER -->\n      <div class=\"footer\" style=\"background-color:#000000;text-align:center;padding:30px 20px;border-top:1px solid #222222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.1rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:4px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:3px;color:#F5F5DC;display:block;margin-bottom:16px;\">Realistic Tattoo Artist</span>\n        <p style=\"margin:0 0 10px;\">\n          <a href=\"mailto:irenegipsytattoo@gmail.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Email</a> |\n          <a href=\"https://www.instagram.com/irenegipsytattoo/\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Instagram</a> |\n          <a href=\"https://wa.me/393471648654\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Whatsapp</a>\n        </p>\n        <p style=\"margin:0 0 16px;\">\n          <a href=\"https://www.irenegipsytattoo.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">www.irenegipsytattoo.com</a>\n        </p>\n        <p style=\"margin-top:0;font-size:0.7rem;color:#333333;letter-spacing:0.5px;font-family:'Montserrat',sans-serif;\">© 2026 Tutti i diritti riservati</p>\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "b1a10001-0001-4001-8001-000000000005",
      "name": "Gmail Conferma 7gg",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "ZmFlwpy10UFOwY00",
          "name": "Gmail - Irene"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apis.chakrahq.com/v1/whatsapp/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_CHAKRAHQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.phoneTo, type: 'text', text: { body: 'Ciao ' + $json.nome + '! 📅 La tua seduta è tra 7 giorni (' + $json.data + '). Conferma la tua presenza: ' + $json.dashboardLink + '\\n\\nSe non puoi venire, comunicacelo il prima possibile.\\n\\n— Irene Gipsy Tattoo' } }) }}",
        "options": {}
      },
      "id": "b1a10001-0001-4001-8001-000000000006",
      "name": "WhatsApp Conferma 7gg (ChakraHQ)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 260],
      "disabled": true,
      "notes": "⚠️ DA CONFIGURARE: Sostituisci YOUR_CHAKRAHQ_API_KEY con la tua API key ChakraHQ. Abilita il nodo quando pronto."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ client_id: $json.clientId, type: 'confirm_reminder_7d', title: 'Conferma la tua seduta', message: 'La tua seduta è tra 7 giorni (' + $json.data + ' alle ' + $json.ora + '). Conferma la tua presenza dalla tua area personale.', link: '/dashboard.html', metadata: { appointment_id: $json.appointmentId } }) }}",
        "options": {}
      },
      "id": "b1a10001-0001-4001-8001-000000000007",
      "name": "Notifica Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 480]
    }
  ],
  "pinData": {},
  "connections": {
    "Ogni giorno 08:00": {
      "main": [
        [
          {
            "node": "Calcola Data 7 Giorni",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcola Data 7 Giorni": {
      "main": [
        [
          {
            "node": "Supabase Sedute 7gg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Sedute 7gg": {
      "main": [
        [
          {
            "node": "Dati Seduta 7gg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dati Seduta 7gg": {
      "main": [
        [
          {
            "node": "Gmail Conferma 7gg",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Conferma 7gg (ChakraHQ)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notifica Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}