n8n-workflows/Reschedule — Notifica Esito al Cliente.json
{
  "name": "Reschedule — Notifica Esito al Cliente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reschedule-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "921f3daa-f8d2-4527-89de-7321a125ae23",
      "name": "Webhook Reschedule",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -288,
        64
      ],
      "webhookId": "reschedule-notify"
    },
    {
      "parameters": {
        "jsCode": "// Estrae i dati dal body del POST e formatta la data\nconst b = $input.item.json.body || $input.item.json;\n\nconst client_email = b.client_email || '';\nconst client_name  = b.client_name  || 'Cliente';\nconst esito        = b.esito        || 'accepted';\nconst new_date     = b.new_date     || '';\nconst new_time     = b.new_time     || '';\nconst irene_notes  = b.irene_notes  || '';\n\n// Formatta la data in italiano (es. \"mercoledì 15 aprile 2026\")\nlet data_formatted = new_date;\ntry {\n  const d = new Date(new_date + 'T00:00:00');\n  data_formatted = d.toLocaleDateString('it-IT', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' });\n} catch(e) {}\n\n// Blocco HTML note Irene (usato solo nel ramo rifiuto)\nconst notes_html = irene_notes\n  ? `<div style=\"background:#fff7ed;border-left:4px solid #f97316;border-radius:4px;padding:14px 18px;margin:20px 0;font-size:0.92rem;\"><strong>Note di Irene:</strong><br>${irene_notes}</div>`\n  : '';\n\nreturn [{ json: { client_email, client_name, esito, new_date, new_time, irene_notes, data_formatted, notes_html } }];"
      },
      "id": "512cc172-058c-4b45-b8ec-304ca8ca342b",
      "name": "Estrai Dati",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $('Estrai Dati').item.json.esito }}",
              "rightValue": "accepted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "694b2806-5053-4427-b59f-ca4e3216ca85",
      "name": "Esito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        192,
        64
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Estrai Dati').item.json.client_email }}",
        "subject": "✅ Cambio data confermato — Irene Gipsy Tattoo",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    body { margin:0; padding:0; background-color:#0a0a0a; font-family:'Montserrat',sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n    .email-wrapper { background-color:#0a0a0a; padding:30px 10px; }\n    .container { max-width:600px; width:100%; margin:0 auto; background-color:#121212; overflow:hidden; }\n    .header { background-color:#000000; padding:40px 30px 32px; text-align:center; border-bottom:1px solid #222; }\n    .header-divider { width:60px; height:2px; background-color:#D4AF37; margin:0 auto 20px; }\n    .content { background-color:#121212; padding:36px 30px; }\n    .footer { background-color:#000000; text-align:center; padding:30px 20px; border-top:1px solid #222; }\n\n    @media only screen and (max-width:600px) {\n      .email-wrapper { padding:10px 5px !important; }\n      .header { padding:28px 16px 24px !important; }\n      .content { padding:24px 16px !important; }\n      .footer { padding:24px 16px !important; }\n      .header-script { font-size:1.3rem !important; }\n      .header-h1 { font-size:1.4rem !important; }\n      .appt-box { padding:16px !important; }\n      .note { padding:16px !important; }\n      .btn-mobile { display:block !important; width:85% !important; max-width:300px !important; margin:0 auto !important; box-sizing:border-box !important; padding:14px 20px !important; }\n    }\n    @media only screen and (max-width:400px) {\n      .header-h1 { font-size:1.2rem !important; }\n      .btn-mobile { width:92% !important; font-size:0.85rem !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a0a;\">\n  <div class=\"email-wrapper\" style=\"background-color:#0a0a0a;padding:30px 10px;\">\n    <div class=\"container\" style=\"max-width:600px;width:100%;margin:0 auto;background-color:#121212;overflow:hidden;\">\n\n      <!-- HEADER -->\n      <div class=\"header\" style=\"background-color:#000000;padding:40px 30px 32px;text-align:center;border-bottom:1px solid #222;\">\n        <span class=\"header-script\" style=\"font-family:'Playfair Display',serif;font-size:1.6rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:6px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;color:#F5F5DC;letter-spacing:3px;text-transform:uppercase;display:block;margin-bottom:20px;\">Realistic Tattoo Artist</span>\n        <div class=\"header-divider\" style=\"width:60px;height:2px;background-color:#D4AF37;margin:0 auto 20px;\"></div>\n        <h1 class=\"header-h1\" style=\"font-family:'Playfair Display',serif;font-size:1.8rem;font-weight:400;color:#D4AF37;margin:0;letter-spacing:0.5px;\">✅ Data Cambiata con Successo</h1>\n      </div>\n\n      <!-- CONTENT -->\n      <div class=\"content\" style=\"background-color:#121212;padding:36px 30px;\">\n\n        <p style=\"font-family:'Playfair Display',serif;font-size:1.4rem;font-weight:400;color:#D4AF37;margin-bottom:14px;font-style:italic;\">Ciao {{ $('Estrai Dati').item.json.client_name }},</p>\n\n        <p style=\"font-size:0.95rem;margin-bottom:28px;color:#F5F5DC;font-weight:300;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n          La tua richiesta di cambio data per la consulenza è stata <strong style=\"color:#D4AF37;font-weight:600;\">confermata</strong> con successo. 🎉\n        </p>\n\n        <!-- NUOVA DATA BOX -->\n        <div class=\"appt-box\" style=\"background-color:#1a160a;border:1px solid #D4AF37;padding:28px 24px;margin:0 0 28px;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 16px;padding-bottom:10px;border-bottom:1px solid #3a2e10;\">📋 Nuovi Dettagli Appuntamento</p>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">📅</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Nuova Data:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">{{ $('Estrai Dati').item.json.data_formatted }}</span>\n            </div>\n          </div>\n\n          <div style=\"height:1px;background-color:#3a2e10;margin:12px 0;\"></div>\n\n          <div style=\"display:flex;align-items:flex-start;margin:10px 0;line-height:1.5;\">\n            <span style=\"font-size:16px;margin-right:12px;min-width:24px;flex-shrink:0;margin-top:1px;\">🕐</span>\n            <div>\n              <span style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;font-weight:600;font-size:0.75rem;text-transform:uppercase;letter-spacing:0.8px;margin-right:8px;\">Orario:</span>\n              <span style=\"color:#F5F5DC;font-weight:400;font-size:0.9rem;\">{{ $('Estrai Dati').item.json.new_time }}</span>\n            </div>\n          </div>\n        </div>\n\n        <!-- CTA -->\n        <div style=\"text-align:center;margin:0 0 28px;\">\n          <p style=\"font-size:0.8rem;color:#888888;text-transform:uppercase;letter-spacing:1px;margin-bottom:18px;font-family:'Montserrat',sans-serif;\">Gestisci il tuo appuntamento</p>\n          <a href=\"https://irenegipsytattoo.com/dashboard.html\" class=\"btn-mobile\" style=\"display:inline-block;padding:12px 30px;border:1px solid #D4AF37;text-transform:uppercase;font-family:'Montserrat',sans-serif;font-size:0.9rem;letter-spacing:1px;background-color:#D4AF37;color:#000000;font-weight:600;text-decoration:none;border-radius:0;\">\n            Vai alla Tua Area Personale\n          </a>\n        </div>\n\n        <!-- NOTE -->\n        <div class=\"note\" style=\"background-color:#1a1a1a;padding:20px;border:1px solid #333333;\">\n          <p style=\"font-size:0.85rem;color:#888888;font-style:italic;margin:0;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n            💬 Hai domande o hai bisogno di ulteriori informazioni? Non esitare a contattarci direttamente.\n          </p>\n        </div>\n\n      </div>\n\n      <!-- FOOTER -->\n      <div class=\"footer\" style=\"background-color:#000000;text-align:center;padding:30px 20px;border-top:1px solid #222222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.1rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:4px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:3px;color:#F5F5DC;display:block;margin-bottom:16px;\">Realistic Tattoo Artist</span>\n        <p style=\"margin:0 0 10px;\">\n          <a href=\"mailto:irenegipsytattoo@gmail.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Email</a> |\n          <a href=\"https://www.instagram.com/irenegipsytattoo/\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Instagram</a> |\n          <a href=\"https://wa.me/393471648654\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Whatsapp</a>\n        </p>\n        <p style=\"margin:0 0 16px;\">\n          <a href=\"https://www.irenegipsytattoo.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">www.irenegipsytattoo.com</a>\n        </p>\n        <p style=\"margin:0;font-size:0.7rem;color:#333333;letter-spacing:0.5px;font-family:'Montserrat',sans-serif;\">© 2026 Tutti i diritti riservati</p>\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "96a835b2-295b-47b1-b9ea-8fa5d2fdbf65",
      "name": "Email Accettato",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        -80
      ],
      "webhookId": "42729136-9979-4244-816a-fd3b987723a6",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZmFlwpy10UFOwY00",
          "name": "Gmail - Irene"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, esito: 'accepted' }) }}",
        "options": {}
      },
      "id": "aeba2448-2f4c-4228-9840-7007031bacd1",
      "name": "Respond Accettato",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        -80
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Estrai Dati').item.json.client_email }}",
        "subject": "❌ Richiesta cambio data — Irene Gipsy Tattoo",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    body { margin:0; padding:0; background-color:#0a0a0a; font-family:'Montserrat',sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n    .email-wrapper { background-color:#0a0a0a; padding:30px 10px; }\n    .container { max-width:600px; width:100%; margin:0 auto; background-color:#121212; overflow:hidden; }\n    .header { background-color:#000000; padding:40px 30px 32px; text-align:center; border-bottom:1px solid #222; }\n    .header-divider { width:60px; height:2px; background-color:#D4AF37; margin:0 auto 20px; }\n    .content { background-color:#121212; padding:36px 30px; }\n    .footer { background-color:#000000; text-align:center; padding:30px 20px; border-top:1px solid #222; }\n\n    @media only screen and (max-width:600px) {\n      .email-wrapper { padding:10px 5px !important; }\n      .header { padding:28px 16px 24px !important; }\n      .content { padding:24px 16px !important; }\n      .footer { padding:24px 16px !important; }\n      .header-script { font-size:1.3rem !important; }\n      .header-h1 { font-size:1.4rem !important; }\n      .note { padding:16px !important; }\n      .btn-mobile { display:block !important; width:85% !important; max-width:300px !important; margin:0 auto !important; box-sizing:border-box !important; padding:14px 20px !important; }\n    }\n    @media only screen and (max-width:400px) {\n      .header-h1 { font-size:1.2rem !important; }\n      .btn-mobile { width:92% !important; font-size:0.85rem !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a0a;\">\n  <div class=\"email-wrapper\" style=\"background-color:#0a0a0a;padding:30px 10px;\">\n    <div class=\"container\" style=\"max-width:600px;width:100%;margin:0 auto;background-color:#121212;overflow:hidden;\">\n\n      <!-- HEADER -->\n      <div class=\"header\" style=\"background-color:#000000;padding:40px 30px 32px;text-align:center;border-bottom:1px solid #222;\">\n        <span class=\"header-script\" style=\"font-family:'Playfair Display',serif;font-size:1.6rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:6px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;color:#F5F5DC;letter-spacing:3px;text-transform:uppercase;display:block;margin-bottom:20px;\">Realistic Tattoo Artist</span>\n        <div class=\"header-divider\" style=\"width:60px;height:2px;background-color:#D4AF37;margin:0 auto 20px;\"></div>\n        <h1 class=\"header-h1\" style=\"font-family:'Playfair Display',serif;font-size:1.8rem;font-weight:400;color:#D4AF37;margin:0;letter-spacing:0.5px;\">❌ Cambio Data Non Approvato</h1>\n      </div>\n\n      <!-- CONTENT -->\n      <div class=\"content\" style=\"background-color:#121212;padding:36px 30px;\">\n\n        <p style=\"font-family:'Playfair Display',serif;font-size:1.4rem;font-weight:400;color:#D4AF37;margin-bottom:14px;font-style:italic;\">Ciao {{ $('Estrai Dati').item.json.client_name }},</p>\n\n        <p style=\"font-size:0.95rem;margin-bottom:20px;color:#F5F5DC;font-weight:300;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n          Purtroppo la tua richiesta di cambio data per la consulenza <strong style=\"color:#D4AF37;font-weight:600;\">non è stata approvata</strong>.\n        </p>\n\n        <!-- INFO BOX -->\n        <div style=\"background-color:#0d0d0d;padding:24px 20px;margin:0 0 24px;border-left:2px solid #D4AF37;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 12px;padding-bottom:10px;border-bottom:1px solid #2a2a2a;\">📋 Informazioni</p>\n          <p style=\"font-family:'Montserrat',sans-serif;font-size:0.9rem;color:#F5F5DC;font-weight:300;line-height:1.7;margin:0;text-align:justify;\">\n            La data originale del tuo appuntamento <strong style=\"color:#D4AF37;font-weight:600;\">rimane invariata</strong>.\n          </p>\n        </div>\n\n        <!-- NOTE DA N8N -->\n        {{ $('Estrai Dati').item.json.notes_html }}\n\n        <!-- CTA -->\n        <div style=\"text-align:center;margin:28px 0;\">\n          <p style=\"font-size:0.8rem;color:#888888;text-transform:uppercase;letter-spacing:1px;margin-bottom:18px;font-family:'Montserrat',sans-serif;\">Gestisci il tuo appuntamento</p>\n          <a href=\"https://irenegipsytattoo.com/dashboard.html\" class=\"btn-mobile\" style=\"display:inline-block;padding:12px 30px;border:1px solid #D4AF37;text-transform:uppercase;font-family:'Montserrat',sans-serif;font-size:0.9rem;letter-spacing:1px;background-color:#D4AF37;color:#000000;font-weight:600;text-decoration:none;border-radius:0;\">\n            Vai alla Tua Area Personale\n          </a>\n        </div>\n\n        <!-- NOTE -->\n        <div class=\"note\" style=\"background-color:#1a1a1a;padding:20px;border:1px solid #333333;\">\n          <p style=\"font-size:0.85rem;color:#888888;font-style:italic;margin:0;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n            💬 Per qualsiasi necessità puoi contattarci direttamente\n          </p>\n        </div>\n\n      </div>\n\n      <!-- FOOTER -->\n      <div class=\"footer\" style=\"background-color:#000000;text-align:center;padding:30px 20px;border-top:1px solid #222222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.1rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:4px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:3px;color:#F5F5DC;display:block;margin-bottom:16px;\">Realistic Tattoo Artist</span>\n        <p style=\"margin:0 0 10px;\">\n          <a href=\"mailto:irenegipsytattoo@gmail.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Email</a> |\n          <a href=\"https://www.instagram.com/irenegipsytattoo/\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Instagram</a> |\n          <a href=\"https://wa.me/393471648654\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Whatsapp</a>\n        </p>\n        <p style=\"margin:0 0 16px;\">\n          <a href=\"https://www.irenegipsytattoo.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">www.irenegipsytattoo.com</a>\n        </p>\n        <p style=\"margin:0;font-size:0.7rem;color:#333333;letter-spacing:0.5px;font-family:'Montserrat',sans-serif;\">© 2026 Tutti i diritti riservati</p>\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "206a619d-9050-4995-870d-442e4db5d113",
      "name": "Email Rifiutato",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        208
      ],
      "webhookId": "c7ee6873-3d2d-4469-889e-6f3985b08e1a",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZmFlwpy10UFOwY00",
          "name": "Gmail - Irene"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, esito: 'rejected' }) }}",
        "options": {}
      },
      "id": "7b9d9f24-dffc-403f-85e0-230d15d630ce",
      "name": "Respond Rifiutato",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Reschedule": {
      "main": [
        [
          {
            "node": "Estrai Dati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estrai Dati": {
      "main": [
        [
          {
            "node": "Esito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esito?": {
      "main": [
        [
          {
            "node": "Email Accettato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Rifiutato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Accettato": {
      "main": [
        [
          {
            "node": "Respond Accettato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Rifiutato": {
      "main": [
        [
          {
            "node": "Respond Rifiutato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "507aff7f-1e48-4b0f-8ba3-d2322fc5b5a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "548b305da89e498b3d11055fd7feb2c3d42eb2d72a9308cee1070564155fb025"
  },
  "id": "Mouqeh5R6QAGVopL",
  "tags": []
}