n8n-workflows/Voucher - Salva su Supabase.json
{
  "name": "Voucher - Salva su Supabase",
  "nodes": [
    {
      "parameters": {
        "path": "fd670029-1c46-4dd7-a623-492716b01fee",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        16
      ],
      "id": "d72c7461-792c-4fb8-9297-dc083e0be571",
      "name": "Webhook",
      "webhookId": "fd670029-1c46-4dd7-a623-492716b01fee"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73422f8d-6dd8-4ec0-8fce-c597a725f0ca",
              "name": "email",
              "value": "={{ $json.query.email }}",
              "type": "string"
            },
            {
              "id": "ff902b8c-1e86-4e51-882a-779d1bb459e0",
              "name": "destinatario",
              "value": "={{ $json.query.nome_destinatario }}",
              "type": "string"
            },
            {
              "id": "7f5b74b2-3846-43e6-bf61-73b2a65a3f79",
              "name": "messaggio",
              "value": "={{ $json.query.messaggio }}",
              "type": "string"
            },
            {
              "id": "da8fae6c-b6b4-4e6f-8a8d-d6a5b7f55547",
              "name": "importo",
              "value": "={{ $json.query.importo }}",
              "type": "string"
            },
            {
              "id": "5eb68dfd-499e-4c81-9f5c-d17360b1b5e3",
              "name": "data",
              "value": "={{ new Date($json.query.timestamp).toLocaleDateString('it-IT') }}",
              "type": "string"
            },
            {
              "id": "fb5e96cd-3378-4c43-b31d-8c882ee98845",
              "name": "scadenza",
              "value": "={{ new Date(new Date($json.query.timestamp).setFullYear(new Date($json.query.timestamp).getFullYear() + 1)).toLocaleDateString('it-IT') }}",
              "type": "string"
            },
            {
              "id": "9cc42f97-766d-4d3c-89cf-0824803efb7d",
              "name": "codice_voucher",
              "value": "={{ $json.query.codice_voucher }}",
              "type": "string"
            },
            {
              "id": "678b8ad1-3b59-486d-9a6a-72aeeb661dbf",
              "name": "codice_paypal",
              "value": "={{ $json.query.paypal_order_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        16
      ],
      "id": "d599dcee-4084-48b8-8ef9-3ab0c36b3dbc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=🎁 {{ $json.nome_destinatario }}, hai ricevuto un voucher regalo!",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    body { margin:0; padding:0; background-color:#0a0a0a; font-family:'Montserrat',sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n    .email-wrapper { background-color:#0a0a0a; padding:30px 10px; }\n    .container { max-width:600px; width:100%; margin:0 auto; background-color:#121212; overflow:hidden; }\n    .header { background-color:#000000; padding:40px 30px 32px; text-align:center; border-bottom:1px solid #222; }\n    .header-divider { width:60px; height:2px; background-color:#D4AF37; margin:0 auto 20px; }\n    .content { background-color:#121212; padding:36px 30px; }\n    .voucher-divider { height:1px; background-color:#3a2e10; margin:16px 0; }\n    .footer { background-color:#000000; text-align:center; padding:30px 20px; border-top:1px solid #222; }\n\n    @media only screen and (max-width:600px) {\n      .email-wrapper { padding:10px 5px !important; }\n      .header { padding:28px 16px 24px !important; }\n      .content { padding:24px 16px !important; }\n      .message-box { padding:18px 14px !important; }\n      .voucher-box { padding:20px 16px !important; }\n      .paypal-box { padding:16px !important; }\n      .note { padding:16px !important; }\n      .footer { padding:24px 16px !important; }\n      .header-script { font-size:1.3rem !important; }\n      .header-h1 { font-size:1.4rem !important; }\n      .voucher-amount { font-size:2.4rem !important; }\n      .voucher-code { font-size:1.1rem !important; letter-spacing:2px !important; }\n      .paypal-code { font-size:0.85rem !important; }\n      .btn-mobile { display:block !important; width:85% !important; max-width:300px !important; margin:0 auto !important; box-sizing:border-box !important; padding:14px 20px !important; }\n    }\n    @media only screen and (max-width:400px) {\n      .header-h1 { font-size:1.2rem !important; }\n      .voucher-amount { font-size:2rem !important; }\n      .btn-mobile { width:92% !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a0a;\">\n  <div class=\"email-wrapper\" style=\"background-color:#0a0a0a;padding:30px 10px;\">\n    <div class=\"container\" style=\"max-width:600px;width:100%;margin:0 auto;background-color:#121212;overflow:hidden;\">\n\n      <!-- HEADER -->\n      <div class=\"header\" style=\"background-color:#000000;padding:40px 30px 32px;text-align:center;border-bottom:1px solid #222;\">\n        <span class=\"header-script\" style=\"font-family:'Playfair Display',serif;font-size:1.6rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:6px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;color:#F5F5DC;letter-spacing:3px;text-transform:uppercase;display:block;margin-bottom:20px;\">Realistic Tattoo Artist</span>\n        <div class=\"header-divider\" style=\"width:60px;height:2px;background-color:#D4AF37;margin:0 auto 20px;\"></div>\n        <h1 class=\"header-h1\" style=\"font-family:'Playfair Display',serif;font-size:1.8rem;font-weight:400;color:#D4AF37;margin:0;letter-spacing:0.5px;\">🎁 Il Tuo Voucher Regalo</h1>\n      </div>\n\n      <!-- CONTENT -->\n      <div class=\"content\" style=\"background-color:#121212;padding:36px 30px;\">\n\n        <p style=\"font-family:'Playfair Display',serif;font-size:1.4rem;font-weight:400;color:#D4AF37;margin-bottom:14px;font-style:italic;\">Ciao {{ $json.nome_destinatario }},</p>\n\n        <p style=\"font-size:0.95rem;margin-bottom:28px;color:#F5F5DC;font-weight:300;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n          Hai ricevuto un <strong style=\"color:#D4AF37;font-weight:600;\">voucher regalo</strong> da utilizzare per il tuo prossimo tatuaggio da Irene Gipsy Tattoo!\n        </p>\n\n        <!-- MESSAGGIO PERSONALE -->\n        <div class=\"message-box\" style=\"background-color:#0d0d0d;padding:24px 20px;margin:0 0 24px;border-left:2px solid #D4AF37;\">\n          <p style=\"font-family:'Playfair Display',serif;font-size:1rem;font-weight:400;color:#D4AF37;margin:0 0 12px;padding-bottom:10px;border-bottom:1px solid #2a2a2a;\">✉️ Messaggio di auguri</p>\n          <p style=\"font-family:'Montserrat',sans-serif;font-size:0.9rem;color:#F5F5DC;font-weight:300;font-style:italic;line-height:1.8;margin:0;text-align:center;\">\"{{ $('Edit Fields').item.json.messaggio }}\"</p>\n        </div>\n\n        <!-- VOUCHER PRINCIPALE -->\n        <div class=\"voucher-box\" style=\"background-color:#1a160a;border:1px solid #D4AF37;padding:28px 24px;margin:0 0 24px;text-align:center;\">\n          <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:3px;color:#888888;display:block;margin-bottom:10px;\">Valore del voucher</span>\n          <span class=\"voucher-amount\" style=\"font-family:'Playfair Display',serif;font-size:3rem;color:#D4AF37;font-weight:700;display:block;line-height:1;margin-bottom:8px;\">€{{ $('Edit Fields').item.json.importo }}</span>\n          <span style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;text-transform:uppercase;letter-spacing:2px;color:#888888;display:block;margin-bottom:20px;\">da utilizzare presso Irene Gipsy Tattoo</span>\n          <div class=\"voucher-divider\" style=\"height:1px;background-color:#3a2e10;margin:16px 0;\"></div>\n          <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:2px;color:#888888;display:block;margin-bottom:8px;\">Il tuo codice voucher</span>\n          <span class=\"voucher-code\" style=\"font-family:'Courier New',monospace;font-size:1.4rem;font-weight:700;color:#D4AF37;letter-spacing:3px;display:block;\">{{ $('Edit Fields').item.json.codice_voucher }}</span>\n          <span style=\"font-family:'Montserrat',sans-serif;font-size:0.78rem;color:#888888;margin-top:14px;display:block;letter-spacing:0.5px;\">Valido fino al <strong style=\"color:#F5F5DC;font-weight:600;\">{{ $('Edit Fields').item.json.scadenza }}</strong></span>\n        </div>\n\n        <!-- PAYPAL BOX -->\n        <div class=\"paypal-box\" style=\"background-color:#0d0d0d;border:1px solid #2a2a2a;padding:20px 24px;margin:0 0 24px;text-align:center;\">\n          <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:2px;color:#888888;display:block;margin-bottom:8px;\">Ricevuta Transazione PayPal</span>\n          <span class=\"paypal-code\" style=\"font-family:'Courier New',monospace;font-size:1rem;font-weight:700;color:#aaaaaa;letter-spacing:2px;display:block;margin-bottom:8px;word-break:break-all;\">{{ $('Edit Fields').item.json.codice_paypal }}</span>\n          <p style=\"font-family:'Montserrat',sans-serif;font-size:0.75rem;color:#555555;font-style:italic;margin:0;\">Conserva questo codice come prova del pagamento ricevuto</p>\n        </div>\n\n        <!-- CTA -->\n        <div style=\"text-align:center;margin:0 0 28px;\">\n          <p style=\"font-size:0.8rem;color:#888888;text-transform:uppercase;letter-spacing:1px;margin-bottom:18px;font-family:'Montserrat',sans-serif;\">Prenota la tua consulenza gratuita</p>\n          <a href=\"https://irenegipsytattoo.com/consultation.html\" class=\"btn-mobile\" style=\"display:inline-block;padding:12px 30px;border:1px solid #D4AF37;text-transform:uppercase;font-family:'Montserrat',sans-serif;font-size:0.9rem;letter-spacing:1px;background-color:#D4AF37;color:#000000;font-weight:600;text-decoration:none;border-radius:0;\">\n            Prenota la Tua Consulenza\n          </a>\n        </div>\n\n        <!-- NOTE -->\n        <div class=\"note\" style=\"background-color:#1a1a1a;padding:20px;border:1px solid #333333;\">\n          <p style=\"font-size:0.85rem;color:#888888;font-style:italic;margin:0;line-height:1.7;font-family:'Montserrat',sans-serif;text-align:justify;\">\n            💡 Comunica il codice voucher durante la prenotazione. Il voucher è personale, non cedibile e valido fino alla data di scadenza indicata. Verrà scalato il giorno della seduta.\n          </p>\n        </div>\n      </div>\n\n      <!-- FOOTER -->\n      <div class=\"footer\" style=\"background-color:#000000;text-align:center;padding:30px 20px;border-top:1px solid #222222;\">\n        <span style=\"font-family:'Playfair Display',serif;font-size:1.1rem;color:#D4AF37;display:block;text-transform:uppercase;letter-spacing:2px;font-weight:400;margin-bottom:4px;\">Irene Gipsy Tattoo</span>\n        <span style=\"font-family:'Montserrat',sans-serif;font-size:0.7rem;text-transform:uppercase;letter-spacing:3px;color:#F5F5DC;display:block;margin-bottom:16px;\">Realistic Tattoo Artist</span>\n        <p style=\"margin:0;\">\n          <a href=\"mailto:irenegipsytattoo@gmail.com\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Email</a> |\n          <a href=\"https://www.instagram.com/irenegipsytattoo/\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Instagram</a> |\n          <a href=\"https://wa.me/393471648654\" style=\"font-family:'Montserrat',sans-serif;color:#D4AF37;text-decoration:none;margin:0 4px;font-size:0.65rem;letter-spacing:0.5px;text-transform:uppercase;\">Whatsapp</a>\n        </p>\n        <p style=\"margin-top:16px;font-size:0.7rem;color:#333333;letter-spacing:0.5px;font-family:'Montserrat',sans-serif;\">© 2026 Tutti i diritti riservati</p>\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        -64
      ],
      "id": "abaacc7e-62eb-47c2-b2e4-6f3d853908d0",
      "name": "Send a message",
      "webhookId": "dd84b3b1-ca36-4898-96cb-7d6204952b0f",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZmFlwpy10UFOwY00",
          "name": "Gmail - Irene"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    email: $json.email.toLowerCase(),\n    nome_destinatario: $json.destinatario.toUpperCase()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        16
      ],
      "id": "af6f2c92-fda3-4314-99c2-a38dbad91527",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1N3kM1pxsenXq982JKnoOYxcWPeKMn0GqJiMGdrNfdTI",
          "mode": "list",
          "cachedResultName": "Voucher",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N3kM1pxsenXq982JKnoOYxcWPeKMn0GqJiMGdrNfdTI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N3kM1pxsenXq982JKnoOYxcWPeKMn0GqJiMGdrNfdTI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Edit Fields').item.json.email }}",
            "Destinatario": "={{ $('Edit Fields').item.json.destinatario }}",
            "importo": "={{ $('Edit Fields').item.json.importo }}",
            "scadenza": "={{ $('Edit Fields').item.json.scadenza }}",
            "codice vaucher": "={{ $('Edit Fields').item.json.codice_voucher }}",
            "id-PP": "={{ $('Edit Fields').item.json.codice_paypal }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "Destinatario",
              "displayName": "Destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "importo",
              "displayName": "importo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scadenza",
              "displayName": "scadenza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id-PP",
              "displayName": "id-PP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "codice vaucher",
              "displayName": "codice vaucher",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        144
      ],
      "id": "e2fc922a-5f60-48ad-8dc4-c8a52d741eb2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hWHUDoqB9c7bIPOk",
          "name": "Google Sheets - Irene"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ptoerfxyydlcjstiqqwb.supabase.co/rest/v1/vouchers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0b2VyZnh5eWRsY2pzdGlxcXdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQzNTQzMywiZXhwIjoyMDg4MDExNDMzfQ.hxZf-JiV-e5-EtGgwPf-J2qNWu8TW_tBRLeBWTuaGyM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "code",
              "value": "={{ $json.id }}"
            },
            {
              "name": "amount",
              "value": "={{ $json.value_eur }}"
            },
            {
              "name": "value_eur",
              "value": "={{ $json.value_eur }}"
            },
            {
              "name": "status",
              "value": "active"
            },
            {
              "name": "recipient_email",
              "value": "={{ $json.recipient_email }}"
            },
            {
              "name": "recipient_name",
              "value": "={{ $json.nome_destinatario }}"
            },
            {
              "name": "sender_name",
              "value": "={{ $json.sender_name }}"
            },
            {
              "name": "message",
              "value": "={{ $json.gift_message }}"
            },
            {
              "name": "gift_message",
              "value": "={{ $json.gift_message }}"
            },
            {
              "name": "service_type",
              "value": "={{ $json.service_type }}"
            },
            {
              "name": "expires_at",
              "value": "={{ $json.expires_at }}"
            },
            {
              "name": "paypal_order_id",
              "value": "={{ $json.paypal_order_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        384
      ],
      "id": "966cf4ff-5723-47a6-8fc6-c28f04dcfcda",
      "name": "Salva su Supabase",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Normalizza i parametri GET del voucher\nconst q = $input.first().json.query || {};\nconst value = parseInt(q.importo || '0', 10);\nconst now = new Date();\nconst expires = new Date(now);\nexpires.setFullYear(expires.getFullYear() + 1);\nreturn [{\n  json: {\n    id: q.codice_voucher || '',\n    recipient_email: (q.email || '').trim().toLowerCase(),\n    sender_name: ((q.nome || '') + ' ' + (q.cognome || '')).trim(),\n    gift_message: q.messaggio || '',\n    value_eur: value,\n    service_type: 'Tatuaggio',\n    expires_at: expires.toISOString(),\n    paypal_order_id: q.paypal_order_id || '',\n    nome_destinatario: q.nome_destinatario || ''\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        384
      ],
      "id": "a37e0e8b-7d9f-4419-aff1-38d49502824e",
      "name": "Normalizza Voucher1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Normalizza Voucher1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizza Voucher1": {
      "main": [
        [
          {
            "node": "Salva su Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "fCzJrySoSEPcF6vp"
  },
  "versionId": "6165df79-b285-4a89-b8d0-cf89287a884a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "548b305da89e498b3d11055fd7feb2c3d42eb2d72a9308cee1070564155fb025"
  },
  "id": "CWbl6aKXn7qhc65a",
  "tags": []
}